## Lending Club - classification of loans

This project aims to analyze data for loans through 2007-2015 from Lending Club available on Kaggle. Dataset contains over 887 thousand observations and 74 variables among which one is describing the loan status. The goal is to create machine learning model to categorize the loans as good or bad. 

Project is split into two notebooks, this one is for data preparation and second for developing a model.

Contents:

    1. Preparing dataset for preprocessing
    2. Reviewing variables - drop and edit
    3. Missing values

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import datetime

import warnings
warnings.filterwarnings('ignore')

### 1. Preparing dataset for preprocessing

In this part I will load data, briefly review the variables and prepare the 'y' value that will describe each loan as good or bad.

In [2]:
data=pd.read_csv('loan.csv',parse_dates=True)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 500)

In [3]:
data.shape

(887379, 74)

In [4]:
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,NaN,NaN,3.0,0.0,13648.0,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,NaN,NaN,3.0,0.0,1687.0,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,NaN,NaN,2.0,0.0,2956.0,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,35.0,NaN,10.0,0.0,5598.0,21.0,37.0,f,0.0,0.0,12226.302212,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,38.0,NaN,15.0,0.0,27783.0,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
pd.value_counts(data.loan_status).to_frame().reset_index()

                                               index  loan_status
0                                            Current       601779
1                                         Fully Paid       207723
2                                        Charged Off        45248
3                                 Late (31-120 days)        11591
4                                             Issued         8460
5                                    In Grace Period         6253
6                                  Late (16-30 days)         2357
7  Does not meet the credit policy. Status:Fully ...         1988
8                                            Default         1219
9  Does not meet the credit policy. Status:Charge...          761

There are 9 unique loan statuses. I will drop ones that are fully paid as these are historical entries. Next step will be to assign 0 (good) to Current loans and 1 (bad) to rest including: default and late loans, ones that were charged off or are in grace period.

First two are self-explanatory, charged off loan is a debt that is deemed unlikely to be collected by the creditor but the debt is not necessarily forgiven or written off entirely, a grace period is a provision in most loan contracts which allows payment to be received for a certain period of time after the actual due date.

In [6]:
data = data[data.loan_status != 'Fully Paid']
data = data[data.loan_status != 'Does not meet the credit policy. Status:Fully Paid']

In [7]:
data['rating'] = np.where((data.loan_status != 'Current'), 1, 0)

In [8]:
pd.value_counts(data.rating).to_frame()

   rating
0  601779
1   75889

In [9]:
print ('Bad Loan Ratio: %.2f%%'  % (data.rating.sum()/len(data)*100))

Bad Loan Ratio: 11.20%

The data is strongly imbalanced, however there are over 75 thousand bad loans that should suffice for a model to learn.

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 677668 entries, 1 to 887378
Data columns (total 75 columns):
id                             677668 non-null int64
member_id                      677668 non-null int64
loan_amnt                      677668 non-null float64
funded_amnt                    677668 non-null float64
funded_amnt_inv                677668 non-null float64
term                           677668 non-null object
int_rate                       677668 non-null float64
installment                    677668 non-null float64
grade                          677668 non-null object
sub_grade                      677668 non-null object
emp_title                      636807 non-null object
emp_length                     677668 non-null object
home_ownership                 677668 non-null object
annual_inc                     677668 non-null float64
verification_status            677668 non-null object
issue_d                        677668 non-null object
loan_status                    677668 non-null object
pymnt_plan                     677668 non-null object
url                            677668 non-null object
desc                           51126 non-null object
purpose                        677668 non-null object
title                          677528 non-null object
zip_code                       677668 non-null object
addr_state                     677668 non-null object
dti                            677668 non-null float64
delinq_2yrs                    677665 non-null float64
earliest_cr_line               677665 non-null object
inq_last_6mths                 677665 non-null float64
mths_since_last_delinq         340018 non-null float64
mths_since_last_record         110520 non-null float64
open_acc                       677665 non-null float64
pub_rec                        677665 non-null float64
revol_bal                      677668 non-null float64
revol_util                     677352 non-null float64
total_acc                      677665 non-null float64
initial_list_status            677668 non-null object
out_prncp                      677668 non-null float64
out_prncp_inv                  677668 non-null float64
total_pymnt                    677668 non-null float64
total_pymnt_inv                677668 non-null float64
total_rec_prncp                677668 non-null float64
total_rec_int                  677668 non-null float64
total_rec_late_fee             677668 non-null float64
recoveries                     677668 non-null float64
collection_recovery_fee        677668 non-null float64
last_pymnt_d                   660009 non-null object
last_pymnt_amnt                677668 non-null float64
next_pymnt_d                   632420 non-null object
last_credit_pull_d             677632 non-null object
collections_12_mths_ex_med     677640 non-null float64
mths_since_last_major_derog    182912 non-null float64
policy_code                    677668 non-null float64
application_type               677668 non-null object
annual_inc_joint               510 non-null float64
dti_joint                      508 non-null float64
verification_status_joint      510 non-null object
acc_now_delinq                 677665 non-null float64
tot_coll_amt                   663069 non-null float64
tot_cur_bal                    663069 non-null float64
open_acc_6m                    21228 non-null float64
open_il_6m                     21228 non-null float64
open_il_12m                    21228 non-null float64
open_il_24m                    21228 non-null float64
mths_since_rcnt_il             20670 non-null float64
total_bal_il                   21228 non-null float64
il_util                        18491 non-null float64
open_rv_12m                    21228 non-null float64
open_rv_24m                    21228 non-null float64
max_bal_bc                     21228 non-null float64
all_util                       21228 non-null float64
total_rev_hi_lim               663069 non-null float64
inq_fi                         21228 non-null float64
total_cu_tl                    21228 non-null float64
inq_last_12m                   21228 non-null float64
rating                         677668 non-null int32
dtypes: float64(49), int32(1), int64(2), object(23)
memory usage: 390.3+ MB

### 2. Reviewing variables - drop and edit

In this part I will review each non-numerical variable to either edit or drop it.

There are two columns that describe a reason for the loan - title and purpose. As shown below title has many more categories which makes it less specific and helpful for the model, so it will be dropped.

In [11]:
pd.value_counts(data.title).to_frame()

                                           title
Debt consolidation                        355393
Credit card refinancing                   145252
Home improvement                           34426
Other                                      27143
Major purchase                             10240
Debt Consolidation                          6484
Medical expenses                            5597
Business                                    5503
Car financing                               4720
Moving and relocation                       3311
Vacation                                    3084
debt consolidation                          2380
Consolidation                               2362
Home buying                                 1858
Debt Consolidation Loan                     1226
consolidation                               1075
Credit Card Consolidation                    918
Consolidation Loan                           747
Personal Loan                                741
Home Improvement                             719
Credit Card Payoff                           595
Credit Card Refinance                        591
Consolidate                                  574
Personal                                     486
Loan                                         428
Freedom                                      385
consolidate                                  362
payoff                                       346
Debt                                         339
Payoff                                       330
personal                                     329
home improvement                             307
Green loan                                   302
personal loan                                286
Credit Cards                                 285
credit card payoff                           284
Debt Consolidation                           267
credit card refinance                        252
DEBT CONSOLIDATION                           250
My Loan                                      244
Credit Card Loan                             241
Credit Card                                  236
debt                                         224
Debt Free                                    221
credit card consolidation                    215
credit cards                                 209
consolidation loan                           208
freedom                                      207
loan                                         199
Small Business Loan                          199
Debt Loan                                    196
Credit Consolidation                         189
Credit card consolidation                    187
Refinance                                    187
Debt consolidation                           181
Home Improvement Loan                        177
credit card                                  168
debt consolidation loan                      163
Credit card payoff                           156
Debt Payoff                                  152
Bill Consolidation                           150
CC Consolidation                             150
Credit card refinance                        149
Credit Card Refi                             148
my loan                                      146
Consolidation loan                           145
Consolidation                                143
debt free                                    143
Debt consolidation loan                      140
Wedding                                      136
Personal loan                                135
Home                                         133
Bills                                        132
pay off credit cards                         130
Credit Card Debt                             127
Credit cards                                 122
Credit Card Refinancing                      121
Lending Club                                 115
pay off                                      114
Wedding Loan                                 110
CC Payoff                                    107
Lending Club Loan                            107
My loan                                      107
Credit Card Debt Consolidation               105
bills                                        105
Loan 1                                       103
Medical                                      101
Fresh Start                                   99
CONSOLIDATION                                 98
debt consolidation                            97
debt loan                                     97
Pay Off                                       96
Loan Consolidation                            96
Debt free                                     95
debt payoff                                   93
credit card loan                              92
Business Loan                                 91
Debt Consol                                   90
refinance                                     89
Debt Relief                                   88
credit card pay off                           88
Debt payoff                                   88
Credit Card Pay Off                           87
Debt Consolodation                            87
Pay off credit cards                          84
Loan1                                         83
Car Loan                                      83
CC Loan                                       82
Relief                                        81
credit card debt                              79
Pay off                                       77
Pool                                          77
Debt loan                                     77
Home Improvements                             75
CC Refinance                                  74
vacation                                      74
Wedding expenses                              72
debt_consolidation                            71
get out of debt                               68
Freedom Loan                                  68
Credit card                                   68
New Start                                     67
bill consolidation                            66
credit consolidation                          66
home                                          65
Debit Consolidation                           65
Debt Reduction                                64
Major Purchase                                64
CC Refi                                       64
debt relief                                   64
Credit Card Consolidation Loan                64
Debt Consolidate                              63
credit                                        60
Get out of debt                               60
Refi                                          59
Other Loan                                    58
Consolidate Debt                              58
Credit Card Refinance Loan                    58
Pool Loan                                     58
Major Purchase Loan                           57
Credit                                        56
refi                                          56
wedding                                       55
Debt                                          55
Refinance Loan                                55
Credit card loan                              54
Medical Loan                                  53
Credit Refinance                              53
Home Loan                                     53
business                                      53
Help                                          52
Cards                                         50
Moving Loan                                   50
Moving                                        50
Personal                                      49
Pay Off Credit Cards                          49
Credit consolidation                          49
Home Improvement                              49
pay off bills                                 48
Credit Card payoff                            48
Pay off Credit Cards                          47
pay bills                                     47
help                                          47
CREDIT CARD PAYOFF                            46
credit card refinance loan                    46
Credit Card consolidation                     46
DebtConsolidation                             46
Credit Card refinance                         45
Credit card pay off                           45
CC                                            44
pay off debt                                  44
credit card refi                              44
relief                                        43
Debt Freedom                                  43
cards                                         43
Small Business                                43
debtfree                                      43
Credit Payoff                                 43
HOME IMPROVEMENT                              42
debt consolidate                              42
myloan                                        41
CC consolidation                              40
Pay off debt                                  40
home improvements                             40
Credit Card Consolidation                     39
Bill consolidation                            39
Credit card debt                              39
cc payoff                                     39
LC Loan                                       39
Card Consolidation                            39
home loan                                     39
consolidation                                 38
loan consolidation                            38
major purchase                                38
FREEDOM                                       38
dept consolidation                            38
pool                                          38
Financial Freedom                             38
Credit Card Payoff Loan                       37
Debt Cons                                     37
Credit Loan                                   37
lending club                                  37
CONSOLIDATE                                   36
money                                         36
LOAN                                          36
Consolodation                                 36
CC payoff                                     36
Credit Card Repayment                         34
Debt Help                                     34
DEBT                                          34
Debt Pay Off                                  34
new start                                     34
Pay Off Debt                                  33
Debt pay off                                  33
PAYOFF                                        33
Loan consolidation                            33
debit consolidation                           33
debtconsolidation                             33
car loan                                      33
Get out of Debt                               32
loan1                                         32
CREDIT CARD CONSOLIDATION                     32
Payoff Loan                                   31
DEBT FREE                                     31
Home improvement                              31
Debt Consolidation loan                       31
LendingClub                                   31
Consolidate                                   31
Pay off Debt                                  31
Debt consol                                   30
credit card refinancing                       30
Debt Consilidation                            30
House                                         30
Car                                           30
credit payoff                                 30
Consol                                        30
PERSONAL LOAN                                 30
pay off credit card                           29
consolidate debt                              29
Card Payoff                                   29
Back on Track                                 29
Pay off bills                                 29
Credit Card                                   29
DC Loan                                       29
Wedding Expenses                              29
credit loan                                   28
New Beginning                                 28
Dept Consolidation                            28
out of debt                                   28
home improvement loan                         28
...                                          ...
pay off credit cards/loan                      1
MyFreedom                                      1
11/2010 Debt Consolidation Loan                1
LAWYER FEES                                    1
debt consile                                   1
Medical Bills consolidation                    1
CREDIT BUILDING                                1
Debt Consolidation Payoff                      1
Great job, recent grad, paying off CCs         1
consolidate + extra                            1
Card Away                                      1
consoldidation                                 1
Medical/Consolidation                          1
Done with Debt                                 1
Fast help                                      1
Debtplan                                       1
bill credit card consolidation                 1
No more credit card debt                       1
Pay OFF                                        1
Seeing the light                               1
utangko                                        1
Credit Card Finance                            1
Pathway to Freedom 2                           1
paydowndeb                                     1
Credit Cnsd                                    1
cash flow                                      1
USAA Loan Payoff                               1
debtfreesoon                                   1
Patrol                                         1
Main Home Improvements                         1
Harley Deuce                                   1
SIMPLIFY                                       1
Debt Consolidation/Lending club                1
InterestReduction                              1
2012 Pay Off                                   1
Credit Control                                 1
Lower Interest here than Credit Cards          1
My Refinancing                                 1
Hospital and Bill Consolidation Loan           1
WEdding                                        1
Stop the insanity loan                         1
Eliminating Unnecessary Debt                   1
My financial health plan.                      1
Life Consolidation                             1
PayOFF5                                        1
betty's freedom                                1
Consul                                         1
Home Improvement, pay off PMI                  1
My Credit Card Consolidation Loan              1
Lower interest Rate                            1
CONSOL LOAN                                    1
Just a bit                                     1
Allen Loan                                     1
My Holiday Loan                                1
Stress reliever                                1
money honey                                    1
for home                                       1
Recreational Family Purchase                   1
Debt Consolidation (Graduate School)           1
fix it up loan                                 1
Increase my cash flow                          1
Loan needed to grow business                   1
Growth                                         1
Deserving more for Great                       1
My step to financial freedom                   1
allinone                                       1
Pay all, then pay one                          1
divorce                                        1
Debt Consolidation And New Roof                1
Reconsolidating CC & Finishing School          1
Venture                                        1
Combined Family Medical Bills                  1
Effective Plan for Paying Debt                 1
I need to fix my work truck                    1
Need help with credit card debt!!!!            1
Floors! :)                                     1
Cleaning up                                    1
Escape                                         1
Pole Barn Needed                               1
consolidations accounts                        1
credit care payoff                             1
College Repayment                              1
get out of debt fast                           1
Exterminate Credit Cards From My Grasp         1
decon loan                                     1
WinterDebt Consolidation                       1
Debit consolidation, and doc bills.            1
Cars and Loan                                  1
Elimidebt                                      1
Tired of bills                                 1
Good Job, Good Person, Good Investment         1
Consolidate CC's                               1
Light at End of the Tunnel                     1
Credit card madness relief                     1
 Pay off Bills                                 1
Doctor Bill                                    1
Interest Rate Reduction.                       1
Credit Card Rescue                             1
Consolidating debt & personal loan refi        1
makethisworkformeplease                        1
cc loan                                        1
Home Reno                                      1
Credit Card Payoff 2                           1
Paving The Way For Fiscal Responsibility       1
taxi                                           1
Expand                                         1
Debt Consolidate/Car Loan Refi                 1
Pay off all credit accounts                    1
Simple Loan                                    1
rescue  me                                     1
refresher                                      1
love                                           1
Loansome Dove                                  1
IMPROVEMENTS IN MY HOME IN FONTANA, CA         1
Debt Consolidation & Home Down Payment         1
Paying Off Old High Interest Loans             1
MY RELIEF                                      1
Bye Credit Cards                               1
Big Consolidate                                1
CreditCardsPayoff                              1
Lending Club CC Consolidation Loan             1
personl                                        1
p loan                                         1
Pay off dept                                   1
hair assasin                                   1
Furnace Replacement & Air Contitioner          1
Consolidate 01                                 1
medical  bill                                  1
Grateful One                                   1
retail apple products                          1
Home - Down payment                            1
Reclamation                                    1
better myself loan                             1
John's Debt Consolidation loan                 1
major_purchas                                  1
Work truck                                     1
Consolidation and Ressurection                 1
Home Improvement 101                           1
Help us helping people in foreclosure!         1
Investments                                    1
Empowerment                                    1
Down Payment for our First Home                1
South Africa Family Vacation                   1
Consolidate 3 Debts                            1
Freedome                                       1
business fulfillment                           1
debt payments                                  1
pay off all credit.                            1
Bootstrapped & Growing                         1
Out of the credit card debt circus             1
Consolation loan                               1
Reliable Car                                   1
Adding new room                                1
Car Upgrade                                    1
Debt Consolidation (Debt Free 36 Mo)           1
Debit Consolodation                            1

In [12]:
pd.value_counts(data.purpose).to_frame()

                    purpose
debt_consolidation   402643
credit_card          163661
home_improvement      39026
other                 31250
major_purchase        11786
small_business         6913
medical                6219
car                    5614
moving                 3780
vacation               3405
house                  2308
wedding                 614
renewable_energy        360
educational              89

Application type variable shows whether the loan is individual or joint - number of joint loans will reflect huge number of NaN values in other variables dedicated for these loans.

Will change this variable to binary.

In [13]:
pd.value_counts(data.application_type).to_frame()

            application_type
INDIVIDUAL            677158
JOINT                    510

In [14]:
app_type={'INDIVIDUAL':0,'JOINT':1}
data.application_type.replace(app_type,inplace=True)

In [15]:
pd.value_counts(data.term).to_frame()

              term
 36 months  451761
 60 months  225907

Term variable will be changed to numerical.

In [16]:
term={' 36 months':36,' 60 months':60}
data.term.replace(term,inplace=True)

Following two variables are dedicated to credit rating of each individual. Will change them to numerical while making sure that the hierarchy is taken into account. Lowest number will mean best grade/subgrade.

In [17]:
pd.value_counts(data.grade).to_frame()

    grade
C  192701
B  187720
D  109028
A  108433
E   57399
F   18166
G    4221

In [18]:
grade=data.grade.unique()
grade.sort()
grade

array(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype=object)

In [19]:
for x,e in enumerate(grade):
    data.grade.replace(to_replace=e,value=x,inplace=True)

In [20]:
data.grade.unique()

array([2, 1, 5, 3, 0, 4, 6], dtype=int64)

In [21]:
pd.value_counts(data.sub_grade).to_frame()

    sub_grade
B4      40963
C1      40811
B3      40453
C2      40321
C3      39839
C4      39261
B5      36550
B2      35702
B1      34052
A5      33758
C5      32469
D1      28473
A4      24233
D2      22932
D3      20496
D4      20148
A1      17221
D5      16979
A3      16670
A2      16551
E1      14856
E2      13854
E3      11499
E4       9477
E5       7713
F1       5716
F2       4238
F3       3484
F4       2691
F5       2037
G1       1451
G2       1082
G3        771
G4        482
G5        435

In [22]:
sub_grade=data.sub_grade.unique()
sub_grade.sort()
sub_grade

array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1',
       'C2', 'C3', 'C4', 'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2',
       'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5', 'G1', 'G2', 'G3',
       'G4', 'G5'], dtype=object)

In [23]:
for x,e in enumerate(sub_grade):
    data.sub_grade.replace(to_replace=e,value=x,inplace=True)

data.sub_grade.unique()

array([13,  9, 14, 26, 10,  6,  8,  7, 11, 16,  4,  5, 23, 17, 28, 18, 19,
        1, 12,  2, 25, 15,  3, 24, 20, 21, 22, 32, 31, 30, 27, 29,  0, 33,
       34], dtype=int64)

Following two variables describe title and length of employment. Title has 212 thousand categories so it will be dropped. Lenghth of employment should be sufficient to show whether an individual has a stable job.

In [24]:
pd.value_counts(data.emp_title).to_frame()

                                          emp_title
Teacher                                       11875
Manager                                        9680
Owner                                          5028
Registered Nurse                               4836
RN                                             4657
Supervisor                                     4297
Sales                                          3674
Project Manager                                3406
Driver                                         3175
Office Manager                                 3022
General Manager                                2817
manager                                        2720
Director                                       2718
owner                                          2691
teacher                                        2600
President                                      2374
Engineer                                       2260
driver                                         2153
Vice President                                 2005
Attorney                                       1870
Operations Manager                             1783
Administrative Assistant                       1748
Accountant                                     1728
Sales Manager                                  1627
sales                                          1515
Account Manager                                1463
Police Officer                                 1441
supervisor                                     1440
Executive Assistant                            1339
Store Manager                                  1316
Analyst                                        1292
Nurse                                          1276
Technician                                     1257
Truck Driver                                   1221
truck driver                                   1193
Software Engineer                              1124
Paralegal                                      1098
Consultant                                     1075
Controller                                     1065
Server                                         1030
Program Manager                                1029
Assistant Manager                              1018
Branch Manager                                  958
Administrator                                   955
Principal                                       939
Mechanic                                        919
Account Executive                               903
CEO                                             882
registered nurse                                858
Executive Director                              847
Business Analyst                                832
Registered nurse                                816
Professor                                       814
IT Manager                                      806
Electrician                                     775
Foreman                                         772
mechanic                                        765
Customer Service                                691
Director of Operations                          686
Associate                                       676
Operator                                        652
LPN                                             651
Secretary                                       650
Legal Assistant                                 638
Superintendent                                  632
District Manager                                628
Pharmacist                                      611
Financial Advisor                               609
Physician                                       600
Financial Analyst                               597
nurse                                           583
Truck driver                                    566
Bartender                                       563
Accounting Manager                              555
Officer                                         554
Instructor                                      554
Clerk                                           554
Machinist                                       542
Social Worker                                   540
CNA                                             532
technician                                      528
server                                          520
Bookkeeper                                      514
Senior Manager                                  506
MANAGER                                         503
Business Manager                                502
Production Manager                              498
Firefighter                                     493
Marketing Manager                               489
Maintenance                                     488
Partner                                         473
Sales Associate                                 470
Service Manager                                 467
VP                                              467
Senior Accountant                               466
Counselor                                       459
Property Manager                                457
Laborer                                         454
Nurse Practitioner                              453
Pastor                                          452
operator                                        450
clerk                                           448
Network Engineer                                448
Assistant Professor                             448
Staff Accountant                                444
office manager                                  443
Legal Secretary                                 441
Software Developer                              439
machine operator                                436
IT Specialist                                   434
Agent                                           434
Cashier                                         430
Underwriter                                     427
Senior Consultant                               426
Assistant Principal                             425
general manager                                 423
Regional Manager                                422
foreman                                         419
Realtor                                         418
Systems Engineer                                418
Case Manager                                    411
Management                                      410
Receptionist                                    407
Pilot                                           406
Dispatcher                                      405
Medical Assistant                               404
Managing Director                               398
Correctional Officer                            397
store manager                                   396
General manager                                 395
Sales Representative                            395
Security Officer                                390
Respiratory Therapist                           388
electrician                                     388
Supervisor                                      387
CFO                                             385
Finance Manager                                 379
Auditor                                         373
HR Manager                                      372
maintenance                                     372
Senior Software Engineer                        367
Senior Project Manager                          366
Welder                                          364
Accounting                                      364
Team Leader                                     363
Physical Therapist                              362
engineer                                        360
president                                       356
customer service                                352
police officer                                  351
Store manager                                   350
Recruiter                                       349
Sales Rep                                       345
Manager                                         344
Buyer                                           343
Product Manager                                 343
Deputy Sheriff                                  342
Sergeant                                        341
Loan Officer                                    341
Captain                                         341
Machine Operator                                341
Flight Attendant                                339
OWNER                                           339
laborer                                         338
machinist                                       337
Project Engineer                                334
Systems Analyst                                 332
Senior Vice President                           330
Educator                                        330
sales manager                                   328
Warehouse Manager                               327
Office manager                                  327
CSR                                             322
Regional Sales Manager                          321
Area Manager                                    319
cashier                                         317
Chef                                            317
Investigator                                    317
Cook                                            315
Coordinator                                     309
Designer                                        307
Director of Sales                               305
welder                                          304
cook                                            302
Tech                                            302
Physician Assistant                             300
Program Director                                298
Carpenter                                       298
Rn                                              297
Police officer                                  294
Graphic Designer                                294
Systems Administrator                           293
Teacher                                         292
Sales manager                                   288
Plant Manager                                   288
Associate Professor                             287
Paramedic                                       287
Estimator                                       286
Custodian                                       286
rn                                              284
Business Development Manager                    284
Personal Banker                                 281
Senior Analyst                                  278
Territory Manager                               275
assistant manager                               275
Sales Consultant                                274
Assistant Store Manager                         274
IT Director                                     274
Inspector                                       273
Customer Service Representative                 271
tech                                            270
Letter Carrier                                  269
Assistant Director                              268
Banker                                          267
Engineering Manager                             266
Network Administrator                           262
Web Developer                                   262
Production Supervisor                           261
Project Coordinator                             260
US Army                                         256
Senior Associate                                255
Customer Service Manager                        255
Customer Service Rep                            254
Associate Director                              254
Dental Hygienist                                254
IT                                              253
Program Analyst                                 252
Service Technician                              252
COO                                             251
Teller                                          248
project manager                                 248
Deputy                                          247
Security                                        246
Senior Engineer                                 244
Pharmacy Technician                             244
Programmer                                      241
Executive Chef                                  237
SUPERVISOR                                      235
Maintenance Supervisor                          235
GM                                              235
Electrical Engineer                             233
SALES                                           232
Operations Supervisor                           232
carpenter                                       232
Detective                                       232
OFFICE MANAGER                                  229
Program Coordinator                             229
Caregiver                                       228
Marketing                                       228
Department Manager                              226
...                                             ...
uhsh                                              1
Senior Program Support Specialist                 1
Director of Development Systems                   1
Director, Import Services                         1
force protection officer                          1
Progaurd Security                                 1
Radiology Aide                                    1
Qa associate                                      1
Maintenance/Safety                                1
Groc Mgr                                          1
Marble Polisher-Finisher                          1
audio tech                                        1
COO Administrative Assistant                      1
HVS Specialist                                    1
assembler mechanic A                              1
Sr Specialist Maintenace Programs                 1
sr business intelligence manager                  1
Manager of Social Services                        1
chopard USA Ltd                                   1
Floor car                                         1
Client Relatinship Coordinator                    1
Production clerk                                  1
community living trainer                          1
Manager of Global Distribution                    1
Cachuela ICF-DDN Homes                            1
thecnicion                                        1
staff developer                                   1
Letter Carrier (City)                             1
Cobalt Group                                      1
Ri Ra Irish Pub                                   1
Tom Keane Landscaping                             1
Office Manager / HR                               1
HR Safety Generalist                              1
Director of Sales & Underwriting                  1
Process Quality Engineer                          1
Programmer/ Analyst                               1
Bell Ford                                         1
chief investment officer                          1
Campstone Transfer, Inc.                          1
Painter II                                        1
V.P. Loan Operations                              1
customer account specialist                       1
office manager/rental manager/title cler          1
Coordinating Director                             1
Campus Club Coordinator                           1
 airport sales agent                              1
MONTOGOMERY COUNTY PUBLIC SCHOOLS                 1
Fire Team Member                                  1
Truck Specialist                                  1
AVP, Loan Underwriter                             1
IT Engineer III                                   1
Directional Drilling Steering Foreman             1
Monongalia General Hospital                       1
salem  area mass  transit  district               1
lead nuclear tech                                 1
Fedor Auto Body                                   1
Mi-Swaco Proact Field   Engineer                  1
Express Pros                                      1
Director, Digital Business Development            1
Waiterist                                         1
PURCHASING MANAGER                                1
RNAC (registered nurse assessment coord)          1
PARTS                                             1
Traffic Signal Technician                         1
sales hostess                                     1
Royal Carribbean International                    1
robert bowden                                     1
Sales/Catering Assistant                          1
Fraud investigator                                1
director of ccc and cp                            1
business developement manager                     1
Senior Server/Storage Administrator               1
Scottrade, Inc.                                   1
Software Developer / LIMS Developer               1
Cheney Brothers Inc                               1
carlson hotel                                     1
Bubba's Disposal                                  1
bill's cafe                                       1
Liquid Graphics                                   1
Plumbers and pipe fitters local 344               1
J.R. Thompson Co.                                 1
Op manager                                        1
Social Security Administration (ODAR)             1
BT America                                        1
Chief of Asset Mgmt                               1
fletcher jones motorcars                          1
RN Trauma Program Manager                         1
outreach worker                                   1
Edward Don & Company                              1
Director of Accounts Management                   1
west haven va hospital                            1
B-lead custodian                                  1
Loan Vendor Coordinator                           1
New Process Steel                                 1
Broderick Phillippi Wright & Card                 1
pride air conditioning                            1
Sale Supervisor                                   1
Coleman Federal Institution                       1
Airtaxi Pilot/Mechanic                            1
Deputy Director Program Manager                   1
QC AUDIT SPECIALIST                               1
uncle guiseppes                                   1
Business Dev. Manager, Americas                   1
information security manager                      1
Field Tech / Blaster                              1
Wellness, Retirement and Benefits Analys          1
MC Development Services                           1
Crawford County Board of Education                1
Optemetric Assistant                              1
motorists insurance group                         1
Maloney Vision Institute                          1
Orientation Facilitator                           1
22.3 combo hub person /shifter                    1
Compliance & Customer Service Manager             1
nyu hospitals                                     1
Scientist/chemist                                 1
Peruvian Connection                               1
Maint A Lead Mechanic                             1
Barclays Bank Delaware                            1
Military police officer                           1
Director, Venue Operations                        1
Indipendant contractor                            1
Navigant Consulting                               1
Therapist/Assistant Manager                       1
Rental Manager, Sales                             1
Assistant General Manager/DOS                     1
system developer II                               1
Director, Inventory Management                    1
Senior Director, Integrated Marketing             1
Customer Support & Sales                          1
Parking Operations Aide                           1
MENTAL HEALTH CLINICIAN                           1

In [25]:
pd.value_counts(data.emp_length).to_frame()

           emp_length
10+ years      227507
2 years         59076
< 1 year        53210
3 years         52986
1 year          42946
5 years         40726
4 years         38958
n/a             37434
8 years         34185
7 years         33043
6 years         30791
9 years         26806

In [26]:
emp_len={'n/a':0,'< 1 year':1,'1 year':2,'2 years':3,'3 years':4,'4 years':5,'5 years':6,'6 years':7,'7 years':8,'8 years':9,'9 years':10,'10+ years':11}
data.emp_length.replace(emp_len,inplace=True)
data.emp_length.unique()

array([ 1,  2,  9,  5,  4, 11, 10,  3,  8,  7,  6,  0], dtype=int64)

Home ownership variable should be informative for model as individuals who own their home should be much safer clients that ones that only rent it.

In [27]:
pd.value_counts(data.home_ownership).to_frame()

          home_ownership
MORTGAGE          337683
RENT              270560
OWN                69372
OTHER                 41
NONE                  10
ANY                    2

Verification status variable indicated whether the source of income of a client was verified.

In [28]:
pd.value_counts(data.verification_status).to_frame()

                 verification_status
Source Verified               269079
Verified                      217016
Not Verified                  191573

Payment plan variable will be dropped as it has only 3 'y' values.

In [29]:
pd.value_counts(data.pymnt_plan).to_frame()

   pymnt_plan
n      677660
y           8

Zip code information is to specific, there are 930 individual values, and there is no sense to make it more general as cutting it to two digits as this will only describe state, which does next veriable. Zip code will be dropped.

In [30]:
pd.value_counts(data.zip_code).to_frame()

       zip_code
750xx      7065
945xx      6976
112xx      6974
606xx      6505
300xx      6181
070xx      5618
331xx      5605
100xx      5403
770xx      5250
900xx      5213
891xx      4942
330xx      4804
117xx      4795
104xx      4700
917xx      4667
852xx      4079
921xx      4037
926xx      3855
913xx      3764
601xx      3643
481xx      3641
334xx      3617
925xx      3590
113xx      3585
604xx      3574
600xx      3567
080xx      3546
021xx      3242
301xx      3178
760xx      3175
920xx      3158
853xx      3139
773xx      3113
956xx      3108
980xx      3106
207xx      3091
802xx      3041
774xx      3040
928xx      3027
201xx      2912
480xx      2910
850xx      2906
941xx      2904
782xx      2824
212xx      2811
088xx      2777
951xx      2711
114xx      2687
553xx      2681
902xx      2680
275xx      2665
923xx      2638
554xx      2606
333xx      2578
605xx      2558
752xx      2498
800xx      2491
327xx      2472
775xx      2448
441xx      2424
786xx      2417
303xx      2403
953xx      2383
328xx      2366
191xx      2347
787xx      2346
940xx      2339
483xx      2315
302xx      2303
967xx      2301
064xx      2293
190xx      2292
840xx      2269
890xx      2265
958xx      2237
761xx      2208
282xx      2172
430xx      2153
210xx      2042
801xx      2014
335xx      2012
322xx      2011
060xx      1997
981xx      1981
028xx      1977
370xx      1949
950xx      1932
115xx      1916
982xx      1910
972xx      1909
337xx      1876
751xx      1869
551xx      1856
105xx      1842
906xx      1825
462xx      1818
440xx      1814
970xx      1789
857xx      1782
208xx      1772
347xx      1760
922xx      1742
432xx      1730
336xx      1726
907xx      1725
919xx      1708
296xx      1684
076xx      1675
152xx      1668
930xx      1663
200xx      1660
983xx      1656
018xx      1654
077xx      1653
103xx      1645
346xx      1643
550xx      1613
799xx      1609
339xx      1601
452xx      1595
342xx      1589
109xx      1586
283xx      1578
631xx      1563
871xx      1510
785xx      1508
640xx      1504
280xx      1504
294xx      1499
463xx      1484
762xx      1467
142xx      1467
211xx      1464
217xx      1435
325xx      1432
338xx      1427
329xx      1424
630xx      1396
305xx      1386
531xx      1355
234xx      1355
221xx      1348
402xx      1337
180xx      1326
986xx      1321
908xx      1316
450xx      1315
074xx      1312
442xx      1302
660xx      1302
805xx      1299
276xx      1296
532xx      1293
740xx      1288
371xx      1276
809xx      1274
641xx      1272
935xx      1268
730xx      1265
320xx      1231
482xx      1224
220xx      1220
461xx      1219
700xx      1212
381xx      1212
068xx      1209
973xx      1207
019xx      1206
460xx      1195
194xx      1193
206xx      1191
946xx      1186
932xx      1184
023xx      1182
765xx      1180
125xx      1174
281xx      1171
410xx      1169
530xx      1161
933xx      1160
027xx      1159
957xx      1148
633xx      1147
223xx      1139
078xx      1138
140xx      1133
130xx      1127
705xx      1124
010xx      1119
146xx      1117
087xx      1111
232xx      1108
488xx      1097
431xx      1093
349xx      1089
662xx      1089
731xx      1079
272xx      1066
170xx      1060
111xx      1054
015xx      1054
968xx      1047
030xx      1041
067xx      1040
954xx      1039
841xx      1032
490xx      1027
974xx      1015
851xx      1012
029xx      1011
295xx      1003
321xx       998
150xx       996
120xx       993
286xx       991
934xx       986
949xx       983
959xx       979
380xx       976
310xx       975
952xx       959
352xx       953
727xx       953
985xx       952
350xx       937
231xx       936
937xx       926
535xx       908
065xx       905
020xx       905
622xx       904
936xx       901
107xx       899
927xx       887
704xx       886
894xx       878
073xx       877
151xx       868
193xx       863
284xx       862
071xx       853
984xx       852
290xx       845
372xx       839
797xx       838
707xx       833
145xx       833
701xx       828
209xx       824
453xx       823
...         ...
033xx       160
653xx       159
157xx       159
602xx       158
162xx       156
812xx       156
717xx       156
567xx       156
422xx       156
455xx       155
718xx       153
644xx       153
881xx       153
943xx       153
976xx       152
624xx       151
807xx       151
883xx       148
258xx       147
566xx       147
619xx       146
811xx       146
749xx       145
239xx       144
262xx       144
758xx       143
638xx       143
382xx       143
725xx       143
542xx       142
040xx       141
680xx       141
737xx       140
398xx       140
623xx       132
545xx       131
139xx       131
859xx       131
155xx       131
654xx       127
789xx       127
396xx       126
734xx       125
364xx       125
367xx       124
998xx       123
257xx       121
438xx       118
135xx       117
246xx       117
651xx       116
590xx       115
188xx       115
824xx       115
251xx       114
499xx       111
247xx       107
572xx       107
389xx       104
768xx       104
406xx       103
149xx       103
035xx       102
634xx       101
745xx       101
573xx       101
407xx        99
574xx        97
676xx        96
167xx        96
747xx        95
673xx        95
825xx        94
646xx        93
668xx        92
425xx        92
058xx        92
592xx        91
250xx        90
169xx        89
249xx        88
267xx        88
387xx        86
688xx        86
575xx        86
581xx        85
746xx        84
798xx        83
264xx        83
639xx        82
042xx        81
585xx        79
828xx        78
084xx        77
052xx        77
252xx        75
877xx        75
587xx        74
053xx        72
873xx        71
792xx        69
593xx        69
736xx        68
051xx        67
635xx        66
102xx        65
415xx        65
049xx        65
831xx        64
259xx        64
538xx        62
677xx        61
845xx        60
772xx        59
412xx        59
409xx        59
865xx        58
679xx        57
580xx        56
999xx        56
416xx        55
022xx        52
582xx        52
738xx        51
691xx        51
256xx        50
044xx        50
595xx        50
822xx        49
041xx        49
687xx        48
739xx        48
426xx        46
830xx        46
689xx        44
289xx        44
693xx        44
893xx        43
588xx        42
248xx        42
683xx        40
417xx        40
823xx        40
268xx        39
266xx        39
413xx        38
669xx        38
586xx        36
684xx        36
418xx        35
408xx        34
332xx        34
686xx        34
043xx        32
036xx        31
556xx        30
979xx        30
994xx        28
583xx        27
753xx        26
047xx        25
878xx        25
369xx        25
039xx        24
584xx        24
884xx        21
963xx        20
090xx        19
879xx        19
048xx        19
414xx        18
046xx        18
576xx        17
690xx        16
311xx        16
962xx        15
045xx        15
059xx        13
096xx        12
091xx         9
094xx         7
098xx         6
092xx         6
834xx         5
527xx         4
861xx         4
836xx         4
833xx         4
969xx         3
942xx         3
838xx         3
501xx         2
204xx         2
008xx         2
097xx         2
555xx         2
663xx         2
832xx         2
203xx         2
500xx         2
503xx         2
771xx         2
506xx         2
965xx         2
504xx         2
007xx         2
502xx         2
835xx         2
821xx         2
692xx         2
522xx         1
511xx         1
568xx         1
513xx         1
837xx         1
523xx         1
709xx         1
901xx         1
353xx         1
205xx         1
892xx         1
569xx         1
348xx         1
516xx         1
888xx         1
694xx         1
819xx         1
429xx         1
343xx         1
528xx         1
510xx         1
509xx         1
507xx         1
817xx         1
862xx         1
399xx         1
269xx         1
643xx         1
854xx         1
621xx         1
889xx         1
682xx         1
520xx         1
929xx         1
524xx         1
938xx         1
702xx         1
649xx         1
340xx         1
742xx         1

[930 rows x 1 columns]

In [31]:
pd.value_counts(data.addr_state).to_frame()

    addr_state
CA       93516
NY       56681
TX       54704
FL       46754
IL       27654
NJ       25389
PA       24462
OH       23280
GA       22362
VA       19688
NC       19078
MI       18084
MD       16077
MA       15401
AZ       15351
WA       14475
CO       13926
MN       12275
IN       11612
TN       11013
MO       10981
CT       10414
NV        9424
WI        8990
AL        8691
SC        8257
LA        8181
OR        8073
KY        6696
OK        6361
KS        6178
AR        5214
UT        4487
NM        3819
MS        3481
WV        3400
HI        3363
NH        3289
RI        2990
DE        1947
MT        1912
DC        1674
AK        1634
WY        1504
VT        1437
SD        1359
NE        1139
ME         512
ND         471
IA           4
ID           4

Next variable is initial listing status of the loan. Possible values are  W, F and will be changed to binary.

In [32]:
pd.value_counts(data.initial_list_status).to_frame()

   initial_list_status
w               371954
f               305714

In [33]:
int_status={'w':0,'f':1}
data.initial_list_status.replace(int_status,inplace=True)

Policy code has only 1 value so will be dropped.

In [35]:
pd.value_counts(data.policy_code).to_frame()

     policy_code
1.0       677668

Recoveries variable informs about post charge off gross recovery. Will transform this to binary that will show whether this loan was recoveried. Will drop recovery fee as it is doubling similar information.

In [36]:
pd.value_counts(data.recoveries).to_frame()

         recoveries
0.00         652991
200.00           10
11.70             9
14.28             9
10.00             9
16.50             8
10.40             8
800.00            8
16.80             8
100.00            8
11.20             7
10.08             7
12.00             7
1200.00           7
10.20             7
19.20             6
10.92             6
10.56             6
3000.00           6
2500.00           6
13.20             6
11.16             6
5000.00           6
13.44             6
10.35             6
12.24             6
5200.00           6
10.66             6
13.50             6
11.68             5
21.60             5
10.71             5
12.80             5
2000.00           5
13.60             5
11.90             5
10.50             5
4800.00           5
12.42             5
15.12             5
10.30             5
16.00             5
18.60             5
24.00             5
12.10             5
20.16             5
10.70             4
10.72             4
2350.00           4
11.52             4
13.11             4
10.10             4
900.00            4
13.00             4
11.80             4
13.64             4
12.60             4
21.84             4
18.00             4
16.12             4
10.14             4
13.59             4
13.09             4
14.96             4
11.76             4
12.48             4
11.60             4
15.58             4
14.63             4
13.93             4
13.40             4
17.10             4
3500.00           4
11.29             4
15.15             4
1000.00           4
12.88             4
12.04             4
24.14             4
14.42             4
12.09             4
16.28             4
10.44             4
10.80             4
11.34             4
1645.84           3
11.36             3
18.26             3
10.62             3
14.80             3
428.75            3
19.79             3
10.67             3
400.00            3
17.70             3
15.00             3
1138.76           3
516.65            3
14.49             3
12.32             3
14.58             3
6000.00           3
17.80             3
10.60             3
20.40             3
14.64             3
12.74             3
13.80             3
14.41             3
17.60             3
10.18             3
10.07             3
667.05            3
14.94             3
11.12             3
12.87             3
415.52            3
1199.43           3
9.77              3
10.89             3
13.56             3
12.43             3
12.78             3
182.40            3
15.26             3
16.27             3
11.40             3
15.48             3
16.59             3
14.45             3
17.16             3
30.24             3
926.90            3
268.19            3
12.96             3
709.96            3
16.08             3
16.24             3
10.83             3
836.07            3
15.61             3
11.11             3
14.20             3
1040.05           3
2838.70           3
14.61             3
2400.00           3
1500.00           3
19.62             3
19.32             3
300.00            3
16.20             3
11.55             3
11.04             3
10.26             3
16.32             3
9.68              3
491.77            3
3852.71           3
15.25             3
12.61             3
13.22             3
16.92             3
10.65             3
44.92             3
22.88             3
12.16             3
164.81            3
10.37             3
13.28             3
11.44             3
17.52             3
13.86             3
600.00            3
11.19             3
14.97             3
521.12            3
18.98             3
20.23             3
22.56             3
9.83              3
360.75            3
11.07             3
224.39            3
10.13             3
16.75             3
493.03            3
28.90             3
17.22             3
12.41             3
13.55             3
14.13             3
279.01            3
18.48             3
16.25             3
206.08            3
13.23             3
13.26             3
20.70             3
94.15             3
11.73             3
14.04             3
12.30             3
13.05             3
16.83             3
10.17             3
10.86             3
17.40             3
1946.08           3
831.84            3
20.96             3
12.70             3
386.89            3
12.06             3
862.26            3
10.29             3
40.00             3
15.40             3
12.35             3
12.92             3
22.05             3
10.64             3
1236.26           3
17.92             3
13.68             3
15.30             3
13.42             3
718.66            3
10.01             3
13.16             3
9.80              3
1175.82           2
407.16            2
10.57             2
1087.07           2
1521.84           2
309.17            2
19.37             2
19.38             2
962.11            2
205.53            2
568.35            2
624.03            2
959.01            2
2194.12           2
342.71            2
2194.37           2
459.10            2
2381.12           2
218.40            2
...             ...
666.28            1
1353.68           1
507.98            1
2890.40           1
4084.77           1
1191.42           1
2884.60           1
727.15            1
318.00            1
2944.00           1
15.92             1
3321.62           1
1619.10           1
3544.21           1
1175.08           1
2900.40           1
2886.10           1
16.69             1
2667.87           1
481.84            1
7629.73           1
266.46            1
609.52            1
1020.63           1
1023.37           1
1907.87           1
1178.33           1
667.28            1
1189.67           1
1023.62           1
294.52            1
1269.50           1
267.79            1
1630.60           1
1068.66           1
475.72            1
255.47            1
2410.73           1
1018.63           1
384.32            1
1016.37           1
3522.79           1
4254.11           1
1917.87           1
2910.60           1
318.75            1
2670.88           1
4230.39           1
2470.92           1
1631.90           1
727.40            1
384.42            1
1172.83           1
1080.12           1
667.97            1
4229.89           1
4067.73           1
1195.42           1
101.90            1
617.48            1
1929.86           1
1890.38           1
1628.15           1
4769.43           1
1060.34           1
21.12             1
298.48            1
4902.56           1
1344.07           1
3321.37           1
4145.88           1
3524.04           1
1932.89           1
118.18            1
614.77            1
2896.65           1
2749.81           1
12.44             1
2896.15           1
80.25             1
3091.77           1
1667.12           1
3083.98           1
418.03            1
301.58            1
659.73            1
1295.50           1
4051.19           1
2456.37           1
558.85            1
432.69            1
2439.13           1
7838.90           1
2235.15           1
20.25             1
2488.88           1
1485.34           1
2400.52           1
1633.36           1
2180.40           1
2673.67           1
2457.12           1
1662.11           1
558.35            1
2458.37           1
908.49            1
300.92            1
771.62            1
1961.90           1
344.52            1
1495.91           1
608.97            1
771.87            1
1378.58           1
5954.36           1
192.47            1
770.12            1
2232.65           1
414.16            1
1228.86           1
23.31             1
1200.18           1
1687.62           1
41.78             1
1407.58           1
92.99             1
780.37            1
1977.60           1
123.40            1
1487.59           1
899.49            1
1974.15           1
2678.67           1
1404.33           1
623.72            1
1197.68           1
2633.83           1
899.74            1
1675.63           1
1194.07           1
1404.83           1
1481.16           1
3600.54           1
164.63            1
544.10            1
901.51            1
6541.19           1
2638.58           1
773.76            1
617.28            1
824.97            1
2637.08           1
901.26            1
34.10             1
2636.33           1
370.79            1
2675.17           1
545.85            1
3537.60           1
5626.57           1
1635.11           1
26.33             1
658.77            1
780.12            1
4823.53           1
2236.40           1
423.22            1
905.49            1
552.15            1
4850.28           1
226.31            1
2216.40           1
1224.89           1
93.76             1
5146.50           1
2214.35           1
553.65            1
414.66            1
152.57            1
416.03            1
1955.90           1
11.06             1
341.98            1
1964.35           1
1654.61           1
663.98            1
1386.83           1
2651.67           1
2660.33           1
3089.27           1
4842.72           1
1284.25           1
1653.36           1
3100.73           1
1364.92           1
227.94            1
555.10            1
2649.67           1
6670.48           1
665.52            1
165.62            1
321.25            1
1651.89           1
1496.34           1
423.47            1
5545.07           1
5140.50           1
2440.87           1
1600.00           1
192.72            1
4819.97           1
1966.40           1
559.65            1
556.35            1
5481.93           1
5481.18           1
414.59            1
1202.07           1
612.03            1
3616.54           1
1683.38           1
670.02            1
904.01            1
559.15            1
2680.58           1
3647.71           1
658.23            1
3632.21           1
167.63            1
556.10            1
2455.37           1
103.71            1
3083.27           1
56.61             1
56.89             1
4827.97           1
63.29             1
1015.36           1
164.12            1
495.50            1
152.68            1
769.62            1
724.99            1
5967.64           1
1656.86           1
1965.15           1
2683.33           1
3087.77           1
3619.79           1
3192.87           1

[23055 rows x 1 columns]

In [37]:
data['recovery'] = np.where((data.recoveries != 0.00), 1, 0)

In [38]:
pd.value_counts(data.collection_recovery_fee).to_frame()

           collection_recovery_fee
0.0000                      654161
2.0000                          18
1.8000                          13
1.5500                          12
1.2000                          12
1.8800                          12
4.5200                          11
1.6000                          11
1.0700                          11
1.9000                          11
2.5200                          11
3.2000                          11
0.8000                          11
3.3900                          11
1.4400                          10
2.7300                          10
2.6100                          10
2.8800                          10
1.6900                          10
1.6200                          10
0.9300                          10
2.0200                          10
3.0900                          10
3.9300                          10
4.4100                           9
2.0800                           9
4.0000                           9
2.5400                           9
1.2900                           9
0.4800                           9
1.5600                           9
1.8400                           9
4.6700                           9
4.0200                           9
2.0400                           9
1.3100                           9
1.4500                           9
3.2300                           9
0.8100                           9
3.7100                           9
3.0100                           9
2.4300                           9
0.4400                           9
1.3900                           9
3.3500                           9
1.2100                           9
3.9600                           9
1.1600                           9
0.6300                           8
2.3000                           8
2.5600                           8
2.2800                           8
2.6800                           8
18.0000                          8
3.6400                           8
4.8700                           8
2.8700                           8
4.8000                           8
3.6100                           8
2.5700                           8
3.8800                           8
4.1600                           8
4.7800                           8
1.9100                           8
1.3700                           8
1.0200                           8
2.0100                           8
1.3000                           8
1.7600                           8
0.6000                           8
0.7900                           8
4.9500                           8
5.6000                           8
2.2200                           8
4.7300                           8
1.9200                           8
2.4600                           8
3.8400                           8
2.0500                           8
1.1700                           8
1.4700                           7
4.8100                           7
2.8100                           7
2.1500                           7
1.2300                           7
4.0600                           7
7.2700                           7
4.3200                           7
2.7900                           7
1.5800                           7
5.1900                           7
1.2200                           7
3.4300                           7
3.0000                           7
3.5500                           7
4.0100                           7
2.5800                           7
1.7300                           7
6.0200                           7
3.5400                           7
1.4800                           7
5.0000                           7
2.4700                           7
4.6100                           7
4.5000                           7
0.9400                           7
3.5100                           7
4.8900                           7
7.2000                           7
0.8300                           7
2.4800                           7
5.2400                           7
2.6200                           7
1.6500                           7
3.0500                           7
1.7000                           7
2.6400                           7
1.0600                           7
2.3600                           7
3.6000                           7
2.9200                           7
2.5900                           7
1.9400                           7
2.8000                           7
3.6700                           7
1.5300                           7
3.1400                           7
1.9600                           7
1.9900                           7
5.3600                           7
0.7200                           6
4.9200                           6
3.6500                           6
1.9800                           6
4.8800                           6
5.2900                           6
1.4300                           6
4.4700                           6
1.3600                           6
1.8600                           6
0.9800                           6
4.0300                           6
6.1700                           6
5.1100                           6
5.6700                           6
2.5300                           6
2.2900                           6
2.5100                           6
4.3700                           6
1.1100                           6
2.2000                           6
1.6800                           6
3.3800                           6
1.3400                           6
5.4400                           6
4.1000                           6
4.3500                           6
0.8200                           6
0.5900                           6
3.2200                           6
3.8000                           6
0.9500                           6
1.7800                           6
2.4400                           6
2.0700                           6
4.1400                           6
1.7100                           6
0.5500                           6
3.9000                           6
3.1500                           6
1.5900                           6
0.8600                           6
1.0000                           6
2.0300                           6
3.5300                           6
6.5800                           6
2.2700                           6
0.6500                           6
0.7400                           6
2.1000                           6
0.7000                           6
2.9100                           6
4.8500                           6
2.9000                           6
9.0200                           6
5.8900                           6
5.1700                           6
1.4000                           6
5.2000                           6
1.5400                           6
2.7400                           6
0.5400                           6
2.9600                           6
1.1300                           6
3.0200                           5
10.4800                          5
0.6400                           5
4.2500                           5
2.3100                           5
3.9400                           5
1.1400                           5
5.7100                           5
3.9500                           5
4.3000                           5
6.7900                           5
1.6700                           5
1.1200                           5
1.9700                           5
0.9900                           5
5.2700                           5
3.4800                           5
0.9000                           5
0.6700                           5
4.1800                           5
4.0700                           5
1.4900                           5
2.4500                           5
2.8500                           5
1.0300                           5
4.6000                           5
3.4900                           5
0.7800                           5
9.5300                           5
2.1800                           5
2.9300                           5
1.6100                           5
4.7400                           5
6.9800                           5
1.6600                           5
0.4000                           5
2.7700                           5
1.4100                           5
0.6100                           5
3.1000                           5
4.5100                           5
4.3800                           5
3.6300                           5
450.0000                         5
1.0400                           5
2.0600                           5
1.5200                           5
9.5000                           5
1.6300                           5
8.5400                           5
5.7500                           5
3.3100                           5
0.8700                           5
1.8100                           5
2.1200                           5
6.0000                           5
...                            ...
882.4932                         1
54.6678                          1
403.7850                         1
140.3028                         1
12.5231                          1
6.7875                           1
234.0000                         1
17.2868                          1
19.3716                          1
348.6024                         1
222.3720                         1
16.0339                          1
648.0234                         1
321.5052                         1
95.3424                          1
685.5894                         1
108.7866                         1
253.0170                         1
231.6132                         1
4.9616                           1
341.5104                         1
391.8024                         1
1167.9300                        1
649.5876                         1
909.5508                         1
476.7066                         1
1097.6220                        1
172.5066                         1
25.3924                          1
24.8529                          1
320.3802                         1
382.6980                         1
7.8882                           1
8.5618                           1
305.3934                         1
30.2754                          1
472.4442                         1
15.4863                          1
893.1258                         1
231.3100                         1
30.9306                          1
826.3800                         1
126.6930                         1
12.6038                          1
19.4561                          1
10.9686                          1
16.2571                          1
48.7962                          1
24.0189                          1
7.0784                           1
21.8496                          1
43.2000                          1
1093.8258                        1
24.2628                          1
241.5042                         1
18.5400                          1
483.9048                         1
801.3474                         1
812.0340                         1
27.0937                          1
726.3558                         1
641.5200                         1
26.3437                          1
750.3480                         1
33.7980                          1
4.1815                           1
300.6378                         1
28.7323                          1
379.6614                         1
9.1310                           1
23.3875                          1
308.6370                         1
4.5679                           1
20.6829                          1
11.9549                          1
192.5172                         1
774.8136                         1
642.9696                         1
12.8857                          1
25.1729                          1
587.2644                         1
394.9866                         1
9.5156                           1
28.9383                          1
429.0300                         1
56.0826                          1
68.0875                          1
16.1361                          1
117.3654                         1
84.9366                          1
5.8147                           1
12.5726                          1
9.6130                           1
1.0712                           1
17.8067                          1
22.1846                          1
1336.1490                        1
10.8251                          1
60.5582                          1
22.2277                          1
44.1971                          1
3.6971                           1
15.1165                          1
119.0772                         1
228.9658                         1
453.8304                         1
686.3238                         1
6.9609                           1
261.0774                         1
9.4280                           1
4.1750                           1
3.2329                           1
260.8182                         1
146.0790                         1
587.1240                         1
470.4516                         1
686.2878                         1
75.9924                          1
628.0164                         1
11.9012                          1
9.0698                           1
6.4796                           1
145.4300                         1
1067.7402                        1
5.5810                           1
646.2648                         1
980.3754                         1
5.3168                           1
254.4066                         1
659.1132                         1
646.1154                         1
7.4499                           1
9.8272                           1
5.4945                           1
593.0856                         1
19.6398                          1
18.5241                          1
883.5919                         1
11.9336                          1
631.4634                         1
22.8348                          1
208.2744                         1
2.9106                           1
344.2662                         1
51.4555                          1
78.5664                          1
2.5718                           1
110.1924                         1
98.0820                          1
17.6627                          1
4.0268                           1
5.6301                           1
163.1790                         1
1.4342                           1
272.6298                         1
1.4778                           1
8.3733                           1
13.1869                          1
774.0198                         1
312.3180                         1
4.2015                           1
23.8415                          1
173.1420                         1
7.9982                           1
24.4671                          1
22.3596                          1
26.9535                          1
657.9324                         1
242.4042                         1
221.2740                         1
10.5853                          1
288.1674                         1
23.6128                          1
211.3110                         1
78.7698                          1
132.0462                         1
773.4888                         1
129.8426                         1
14.9677                          1
4.6617                           1
454.0662                         1
5.6291                           1
2.9354                           1
634.8312                         1
719.7264                         1
19.4401                          1
22.3576                          1
61.2100                          1
577.5300                         1
10.9300                          1
10.8200                          1
861.0498                         1
16.7563                          1
142.5420                         1
13.2896                          1
483.5862                         1
5.9445                           1
14.5315                          1
8.5166                           1
19.5838                          1
6.6793                           1
4.7076                           1
18.7404                          1
11.5081                          1
269.4732                         1
13.6090                          1
10.7223                          1
16.7793                          1
22.2097                          1
6.5265                           1
7.3478                           1
396.0900                         1
90.7920                          1
6.9086                           1
592.1856                         1
6.5330                           1
34.5116                          1
28.2064                          1
373.6638                         1
519.2442                         1
308.6316                         1
527.4612                         1
10.6596                          1
488.1312                         1
4.8787                           1
8.9234                           1
27.1303                          1
851.2038                         1
6.6602                           1
10.4284                          1
552.7278                         1
4.0392                           1
940.5000                         1
26.6852                          1
113.8104                         1
306.1512                         1
657.2682                         1
121.4856                         1
378.0234                         1
300.9816                         1
77.7240                          1
12.0207                          1
870.1902                         1
399.9528                         1
168.6024                         1
31.1896                          1
52.3170                          1
56.5524                          1
6.8989                           1
37.7604                          1

[20708 rows x 1 columns]

There are couple variables that can be transformed to date time.

In [39]:
data.issue_d=pd.to_datetime(data.issue_d)

In [40]:
earliest_cr_line=pd.to_datetime(data.earliest_cr_line)
data.earliest_cr_line=earliest_cr_line.dt.year

In [41]:
data.last_pymnt_d=pd.to_datetime(data.last_pymnt_d)
data.next_pymnt_d=pd.to_datetime(data.next_pymnt_d)
data.last_credit_pull_d=pd.to_datetime(data.last_credit_pull_d)

Dropping all variables mentioned above.

In [42]:
data.drop(['id','member_id','desc','loan_status','url', 'title','collection_recovery_fee','recoveries','policy_code','zip_code','emp_title','pymnt_plan'],axis=1,inplace=True)

In [43]:
data.head(10)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,purpose,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,rating,recovery
1,2500.0,2500.0,2500.0,60,15.27,59.83,2,13,1,RENT,30000.0,Source Verified,2011-12-01,car,GA,1.00,0.0,1999.0,5.0,NaN,NaN,3.0,0.0,1687.0,9.4,4.0,1,0.00,0.00,1008.71,1008.71,456.46,435.17,0.0,2013-04-01,119.66,NaT,2013-09-01,0.0,NaN,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
4,3000.0,3000.0,3000.0,60,12.69,67.79,1,9,2,RENT,80000.0,Source Verified,2011-12-01,other,OR,17.94,0.0,1996.0,0.0,38.0,NaN,15.0,0.0,27783.0,53.9,38.0,1,766.90,766.90,3242.17,3242.17,2233.10,1009.07,0.0,2016-01-01,67.79,2016-02-01,2016-01-01,0.0,NaN,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
6,7000.0,7000.0,7000.0,60,15.96,170.08,2,14,9,RENT,47004.0,Not Verified,2011-12-01,debt_consolidation,NC,23.51,0.0,2005.0,1.0,NaN,NaN,7.0,0.0,17726.0,85.6,11.0,1,1889.15,1889.15,8136.84,8136.84,5110.85,3025.99,0.0,2016-01-01,170.08,2016-02-01,2016-01-01,0.0,NaN,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
8,5600.0,5600.0,5600.0,60,21.28,152.39,5,26,5,OWN,40000.0,Source Verified,2011-12-01,small_business,CA,5.55,0.0,2004.0,2.0,NaN,NaN,11.0,0.0,5210.0,32.6,13.0,1,0.00,0.00,646.02,646.02,162.02,294.94,0.0,2012-04-01,152.39,NaT,2012-08-01,0.0,NaN,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
9,5375.0,5375.0,5350.0,60,12.69,121.45,1,9,1,RENT,15000.0,Verified,2011-12-01,other,TX,18.08,0.0,2004.0,0.0,NaN,NaN,2.0,0.0,9279.0,36.5,3.0,1,0.00,0.00,1476.19,1469.34,673.48,533.42,0.0,2012-11-01,121.45,NaT,2013-03-01,0.0,NaN,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
12,9000.0,9000.0,9000.0,36,13.49,305.38,2,10,1,RENT,30000.0,Source Verified,2011-12-01,debt_consolidation,VA,10.08,0.0,2004.0,1.0,NaN,NaN,4.0,0.0,10452.0,91.7,9.0,1,0.00,0.00,2270.70,2270.70,1256.14,570.26,0.0,2012-07-01,305.38,NaT,2012-11-01,0.0,NaN,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
14,10000.0,10000.0,10000.0,36,10.65,325.74,1,6,4,RENT,100000.0,Source Verified,2011-12-01,other,CA,7.06,0.0,1991.0,2.0,NaN,NaN,14.0,0.0,11997.0,55.5,29.0,1,0.00,0.00,7471.99,7471.99,5433.47,1393.42,0.0,2013-10-01,325.74,NaT,2014-03-01,0.0,NaN,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
21,21000.0,21000.0,21000.0,36,12.42,701.73,1,8,11,RENT,105000.0,Verified,2011-12-01,debt_consolidation,FL,13.22,0.0,1983.0,0.0,NaN,NaN,7.0,0.0,32135.0,90.3,38.0,1,0.00,0.00,14025.40,14025.40,10694.96,3330.44,0.0,2013-09-01,701.73,NaT,2016-01-01,0.0,NaN,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
24,6000.0,6000.0,6000.0,36,11.71,198.46,1,7,2,RENT,76000.0,Not Verified,2011-12-01,major_purchase,CA,2.40,0.0,2001.0,1.0,NaN,NaN,7.0,0.0,5963.0,29.7,7.0,1,0.00,0.00,2050.14,2050.14,1305.58,475.25,0.0,2012-10-01,198.46,NaT,2013-03-01,0.0,NaN,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
26,15000.0,15000.0,8725.0,36,14.27,514.64,2,11,10,RENT,60000.0,Not Verified,2011-12-01,debt_consolidation,NY,15.22,0.0,2003.0,1.0,NaN,NaN,7.0,0.0,5872.0,57.6,11.0,1,0.00,0.00,0.00,0.00,0.00,0.00,0.0,NaT,0.00,NaT,2016-01-01,0.0,NaN,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0

### 3. Missing values

There are observations that contain missing values, I will review and transform them variable by variable.

Starting with defining a function to create a data frame of metadata containing count of null values and type.

In [44]:
def meta (dataframe):
    metadata = []
    for f in data.columns:
    
        # Counting null values
        null = data[f].isnull().sum()
    
        # Defining the data type 
        dtype = data[f].dtype
    
        # Creating a Dict that contains all the metadata for the variable
        f_dict = {
            'varname': f,
            'nulls':null,
            'dtype': dtype
        }
        metadata.append(f_dict)

    meta = pd.DataFrame(metadata, columns=['varname','nulls', 'dtype'])
    meta.set_index('varname', inplace=True)
    meta=meta.sort_values(by=['nulls'],ascending=False)
    return meta

In [45]:
meta(data)

                              nulls           dtype
varname
dti_joint                    677160         float64
annual_inc_joint             677158         float64
verification_status_joint    677158          object
il_util                      659177         float64
mths_since_rcnt_il           656998         float64
inq_fi                       656440         float64
total_cu_tl                  656440         float64
all_util                     656440         float64
max_bal_bc                   656440         float64
inq_last_12m                 656440         float64
open_rv_12m                  656440         float64
open_il_6m                   656440         float64
total_bal_il                 656440         float64
open_acc_6m                  656440         float64
open_il_24m                  656440         float64
open_il_12m                  656440         float64
open_rv_24m                  656440         float64
mths_since_last_record       567148         float64
mths_since_last_major_derog  494756         float64
mths_since_last_delinq       337650         float64
next_pymnt_d                  45248  datetime64[ns]
last_pymnt_d                  17659  datetime64[ns]
total_rev_hi_lim              14599         float64
tot_coll_amt                  14599         float64
tot_cur_bal                   14599         float64
revol_util                      316         float64
last_credit_pull_d               36  datetime64[ns]
collections_12_mths_ex_med       28         float64
total_acc                         3         float64
pub_rec                           3         float64
acc_now_delinq                    3         float64
open_acc                          3         float64
inq_last_6mths                    3         float64
earliest_cr_line                  3         float64
delinq_2yrs                       3         float64
application_type                  0           int64
rating                            0           int32
loan_amnt                         0         float64
total_rec_int                     0         float64
last_pymnt_amnt                   0         float64
issue_d                           0  datetime64[ns]
funded_amnt_inv                   0         float64
term                              0           int64
int_rate                          0         float64
installment                       0         float64
grade                             0           int64
sub_grade                         0           int64
emp_length                        0           int64
home_ownership                    0          object
annual_inc                        0         float64
verification_status               0          object
purpose                           0          object
total_rec_late_fee                0         float64
addr_state                        0          object
dti                               0         float64
revol_bal                         0         float64
initial_list_status               0           int64
out_prncp                         0         float64
out_prncp_inv                     0         float64
total_pymnt                       0         float64
total_pymnt_inv                   0         float64
total_rec_prncp                   0         float64
funded_amnt                       0         float64
recovery                          0           int32

Variables: dti_joint, annual_inc_joint and verification_status_joint have so many null values as there are only 510 joint loans. Will replace NaN with 0 and 'None' for status.

In [46]:
data.dti_joint=data.dti_joint.replace(np.nan,0)
data.annual_inc_joint=data.annual_inc_joint.replace(np.nan,0)
data.verification_status_joint=data.verification_status_joint.replace(np.nan,'None')

Investigating variables connected to open_acc_6m which shows number of open trades in last 6 months. Variables open_il_6m, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, inq_fi, total_cu_tl, inq_last_12m, collections_12_mths_ex_med have null values for the same rows - I will change them all to 0 as missing vaules show lack of open trades.

In [47]:
data.loc[(data.open_acc_6m.isnull())].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 656440 entries, 1 to 887378
Data columns (total 64 columns):
loan_amnt                      656440 non-null float64
funded_amnt                    656440 non-null float64
funded_amnt_inv                656440 non-null float64
term                           656440 non-null int64
int_rate                       656440 non-null float64
installment                    656440 non-null float64
grade                          656440 non-null int64
sub_grade                      656440 non-null int64
emp_length                     656440 non-null int64
home_ownership                 656440 non-null object
annual_inc                     656440 non-null float64
verification_status            656440 non-null object
issue_d                        656440 non-null datetime64[ns]
purpose                        656440 non-null object
addr_state                     656440 non-null object
dti                            656440 non-null float64
delinq_2yrs                    656437 non-null float64
earliest_cr_line               656437 non-null float64
inq_last_6mths                 656437 non-null float64
mths_since_last_delinq         329002 non-null float64
mths_since_last_record         106695 non-null float64
open_acc                       656437 non-null float64
pub_rec                        656437 non-null float64
revol_bal                      656440 non-null float64
revol_util                     656135 non-null float64
total_acc                      656437 non-null float64
initial_list_status            656440 non-null int64
out_prncp                      656440 non-null float64
out_prncp_inv                  656440 non-null float64
total_pymnt                    656440 non-null float64
total_pymnt_inv                656440 non-null float64
total_rec_prncp                656440 non-null float64
total_rec_int                  656440 non-null float64
total_rec_late_fee             656440 non-null float64
last_pymnt_d                   653921 non-null datetime64[ns]
last_pymnt_amnt                656440 non-null float64
next_pymnt_d                   611192 non-null datetime64[ns]
last_credit_pull_d             656404 non-null datetime64[ns]
collections_12_mths_ex_med     656412 non-null float64
mths_since_last_major_derog    176782 non-null float64
application_type               656440 non-null int64
annual_inc_joint               656440 non-null float64
dti_joint                      656440 non-null float64
verification_status_joint      656440 non-null object
acc_now_delinq                 656437 non-null float64
tot_coll_amt                   641841 non-null float64
tot_cur_bal                    641841 non-null float64
open_acc_6m                    0 non-null float64
open_il_6m                     0 non-null float64
open_il_12m                    0 non-null float64
open_il_24m                    0 non-null float64
mths_since_rcnt_il             0 non-null float64
total_bal_il                   0 non-null float64
il_util                        0 non-null float64
open_rv_12m                    0 non-null float64
open_rv_24m                    0 non-null float64
max_bal_bc                     0 non-null float64
all_util                       0 non-null float64
total_rev_hi_lim               641841 non-null float64
inq_fi                         0 non-null float64
total_cu_tl                    0 non-null float64
inq_last_12m                   0 non-null float64
rating                         656440 non-null int32
recovery                       656440 non-null int32
dtypes: datetime64[ns](4), float64(47), int32(2), int64(6), object(5)
memory usage: 320.5+ MB

In [49]:
variables1=['open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl', 'inq_last_12m','collections_12_mths_ex_med']

for e in variables1:
    data[e]=data[e].replace(np.nan,0)
    
meta(data)

                              nulls           dtype
varname
mths_since_last_record       567148         float64
mths_since_last_major_derog  494756         float64
mths_since_last_delinq       337650         float64
next_pymnt_d                  45248  datetime64[ns]
last_pymnt_d                  17659  datetime64[ns]
tot_coll_amt                  14599         float64
total_rev_hi_lim              14599         float64
tot_cur_bal                   14599         float64
revol_util                      316         float64
last_credit_pull_d               36  datetime64[ns]
inq_last_6mths                    3         float64
total_acc                         3         float64
acc_now_delinq                    3         float64
pub_rec                           3         float64
delinq_2yrs                       3         float64
earliest_cr_line                  3         float64
open_acc                          3         float64
dti_joint                         0         float64
verification_status_joint         0          object
open_rv_12m                       0         float64
annual_inc_joint                  0         float64
all_util                          0         float64
application_type                  0           int64
total_cu_tl                       0         float64
inq_last_12m                      0         float64
rating                            0           int32
inq_fi                            0         float64
max_bal_bc                        0         float64
open_acc_6m                       0         float64
il_util                           0         float64
open_il_6m                        0         float64
open_rv_24m                       0         float64
collections_12_mths_ex_med        0         float64
open_il_12m                       0         float64
open_il_24m                       0         float64
mths_since_rcnt_il                0         float64
total_bal_il                      0         float64
loan_amnt                         0         float64
total_rec_int                     0         float64
last_pymnt_amnt                   0         float64
issue_d                           0  datetime64[ns]
funded_amnt_inv                   0         float64
term                              0           int64
int_rate                          0         float64
installment                       0         float64
grade                             0           int64
sub_grade                         0           int64
emp_length                        0           int64
home_ownership                    0          object
annual_inc                        0         float64
verification_status               0          object
purpose                           0          object
total_rec_late_fee                0         float64
addr_state                        0          object
dti                               0         float64
revol_bal                         0         float64
initial_list_status               0           int64
out_prncp                         0         float64
out_prncp_inv                     0         float64
total_pymnt                       0         float64
total_pymnt_inv                   0         float64
total_rec_prncp                   0         float64
funded_amnt                       0         float64
recovery                          0           int32

Variables containing month since last occurence of specific action have plenty null values that I understand as lack of the occurence.

In [50]:
pd.value_counts(data.mths_since_last_record).unique()

array([1627, 1625, 1624, 1623, 1619, 1615, 1610, 1609, 1607, 1601, 1593,
       1586, 1553, 1530, 1517, 1505, 1496, 1492, 1483, 1473, 1468, 1460,
       1451, 1447, 1442, 1437, 1388, 1367, 1359, 1263, 1253, 1188, 1146,
       1129, 1127, 1121, 1119, 1093, 1090, 1089, 1087, 1077, 1059, 1043,
       1017,  998,  982,  972,  958,  936,  935,  929,  928,  921,  913,
        906,  905,  896,  884,  870,  869,  864,  862,  850,  849,  844,
        841,  839,  834,  833,  826,  820,  817,  815,  812,  809,  803,
        771,  738,  712,  695,  692,  684,  624,  600,  593,  541,  533,
        511,  471,  469,  412,  400,  395,  375,  370,  355,  340,  318,
        303,  286,  283,  281,  279,  234,  227,  210,  189,  156,  151,
        131,  107,   64,   53,    7,    1], dtype=int64)

In [51]:
pd.value_counts(data.mths_since_last_major_derog).unique()

array([2835, 2794, 2788, 2781, 2768, 2762, 2756, 2730, 2674, 2668, 2665,
       2662, 2644, 2625, 2624, 2621, 2616, 2602, 2588, 2585, 2573, 2572,
       2569, 2555, 2553, 2550, 2549, 2543, 2540, 2532, 2530, 2523, 2517,
       2511, 2502, 2496, 2479, 2458, 2454, 2425, 2416, 2389, 2385, 2310,
       2262, 2261, 2259, 2190, 2162, 2145, 2103, 2093, 2088, 2060, 2051,
       1998, 1989, 1968, 1913, 1840, 1683, 1598, 1570, 1545, 1495, 1491,
       1412, 1361, 1340, 1252, 1153, 1080,  839,  613,  599,  504,  497,
        216,  156,  135,  128,  117,  110,   96,   94,   89,   80,   78,
         76,   73,   71,   70,   69,   67,   66,   65,   63,   59,   57,
         56,   54,   52,   48,   46,   43,   42,   41,   39,   38,   37,
         35,   33,   32,   30,   27,   26,   25,   24,   22,   21,   20,
         19,   17,   16,   15,   14,   11,   10,    8,    7,    6,    5,
          4,    3,    2,    1], dtype=int64)

In [52]:
pd.value_counts(data.mths_since_last_delinq).unique()

array([6941, 6940, 6707, 6698, 6695, 6584, 6405, 6401, 6284, 5977, 5961,
       5920, 5796, 5747, 5691, 5622, 5612, 5509, 5441, 5359, 5325, 5310,
       5255, 5248, 4997, 4992, 4961, 4916, 4910, 4821, 4795, 4660, 4637,
       4541, 4459, 4435, 4406, 4274, 4260, 4196, 4168, 4147, 4107, 3975,
       3961, 3455, 3220, 2974, 2964, 2935, 2919, 2910, 2905, 2900, 2895,
       2889, 2844, 2830, 2828, 2827, 2820, 2810, 2803, 2778, 2775, 2768,
       2693, 2662, 2599, 2528, 2518, 2438, 2350, 2318, 2160, 2036, 2011,
       1931, 1841, 1711,  991,  808,  116,   47,   46,   33,   28,   27,
         23,   20,   19,   17,   16,   14,   13,   10,    9,    8,    7,
          6,    5,    4,    3,    2,    1], dtype=int64)

Null values in these columns can't be replaced with 0 as it would mean that the last occurence was very recent. My understanding of these variables is that the key information is whether the specific action took place (delinquency, public record, worse rating), so I will turn these into binary categories of Yes (1), No (0).

In [53]:
data.loc[(data.mths_since_last_delinq.notnull()),'delinq']=1
data.loc[(data.mths_since_last_delinq.isnull()),'delinq']=0

data.loc[(data.mths_since_last_major_derog.notnull()),'derog']=1
data.loc[(data.mths_since_last_major_derog.isnull()),'derog']=0

data.loc[(data.mths_since_last_record.notnull()),'public_record']=1
data.loc[(data.mths_since_last_record.isnull()),'public_record']=0

data.drop(['mths_since_last_delinq','mths_since_last_major_derog','mths_since_last_record'],axis=1,inplace=True)

meta(data)

                            nulls           dtype
varname
next_pymnt_d                45248  datetime64[ns]
last_pymnt_d                17659  datetime64[ns]
total_rev_hi_lim            14599         float64
tot_coll_amt                14599         float64
tot_cur_bal                 14599         float64
revol_util                    316         float64
last_credit_pull_d             36  datetime64[ns]
inq_last_6mths                  3         float64
acc_now_delinq                  3         float64
pub_rec                         3         float64
open_acc                        3         float64
earliest_cr_line                3         float64
delinq_2yrs                     3         float64
total_acc                       3         float64
delinq                          0         float64
open_il_24m                     0         float64
verification_status_joint       0          object
dti_joint                       0         float64
open_acc_6m                     0         float64
annual_inc_joint                0         float64
derog                           0         float64
open_il_6m                      0         float64
open_il_12m                     0         float64
recovery                        0           int32
total_cu_tl                     0         float64
rating                          0           int32
inq_fi                          0         float64
application_type                0           int64
total_bal_il                    0         float64
il_util                         0         float64
open_rv_12m                     0         float64
open_rv_24m                     0         float64
max_bal_bc                      0         float64
all_util                        0         float64
inq_last_12m                    0         float64
mths_since_rcnt_il              0         float64
loan_amnt                       0         float64
collections_12_mths_ex_med      0         float64
purpose                         0          object
funded_amnt_inv                 0         float64
term                            0           int64
int_rate                        0         float64
installment                     0         float64
grade                           0           int64
sub_grade                       0           int64
emp_length                      0           int64
home_ownership                  0          object
annual_inc                      0         float64
verification_status             0          object
issue_d                         0  datetime64[ns]
addr_state                      0          object
last_pymnt_amnt                 0         float64
dti                             0         float64
revol_bal                       0         float64
initial_list_status             0           int64
out_prncp                       0         float64
out_prncp_inv                   0         float64
total_pymnt                     0         float64
total_pymnt_inv                 0         float64
total_rec_prncp                 0         float64
total_rec_int                   0         float64
total_rec_late_fee              0         float64
funded_amnt                     0         float64
public_record                   0         float64

Investigating tot_coll_amt, tot_cur_bal, total_rev_hi_lim - these are three totals that have missing values for the same observations. I will change them to 0 as they should mean that the total is 0.

In [54]:
data.loc[(data.tot_coll_amt.isnull())].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14599 entries, 1 to 230656
Data columns (total 64 columns):
loan_amnt                     14599 non-null float64
funded_amnt                   14599 non-null float64
funded_amnt_inv               14599 non-null float64
term                          14599 non-null int64
int_rate                      14599 non-null float64
installment                   14599 non-null float64
grade                         14599 non-null int64
sub_grade                     14599 non-null int64
emp_length                    14599 non-null int64
home_ownership                14599 non-null object
annual_inc                    14599 non-null float64
verification_status           14599 non-null object
issue_d                       14599 non-null datetime64[ns]
purpose                       14599 non-null object
addr_state                    14599 non-null object
dti                           14599 non-null float64
delinq_2yrs                   14596 non-null float64
earliest_cr_line              14596 non-null float64
inq_last_6mths                14596 non-null float64
open_acc                      14596 non-null float64
pub_rec                       14596 non-null float64
revol_bal                     14599 non-null float64
revol_util                    14567 non-null float64
total_acc                     14596 non-null float64
initial_list_status           14599 non-null int64
out_prncp                     14599 non-null float64
out_prncp_inv                 14599 non-null float64
total_pymnt                   14599 non-null float64
total_pymnt_inv               14599 non-null float64
total_rec_prncp               14599 non-null float64
total_rec_int                 14599 non-null float64
total_rec_late_fee            14599 non-null float64
last_pymnt_d                  14485 non-null datetime64[ns]
last_pymnt_amnt               14599 non-null float64
next_pymnt_d                  4580 non-null datetime64[ns]
last_credit_pull_d            14598 non-null datetime64[ns]
collections_12_mths_ex_med    14599 non-null float64
application_type              14599 non-null int64
annual_inc_joint              14599 non-null float64
dti_joint                     14599 non-null float64
verification_status_joint     14599 non-null object
acc_now_delinq                14596 non-null float64
tot_coll_amt                  0 non-null float64
tot_cur_bal                   0 non-null float64
open_acc_6m                   14599 non-null float64
open_il_6m                    14599 non-null float64
open_il_12m                   14599 non-null float64
open_il_24m                   14599 non-null float64
mths_since_rcnt_il            14599 non-null float64
total_bal_il                  14599 non-null float64
il_util                       14599 non-null float64
open_rv_12m                   14599 non-null float64
open_rv_24m                   14599 non-null float64
max_bal_bc                    14599 non-null float64
all_util                      14599 non-null float64
total_rev_hi_lim              0 non-null float64
inq_fi                        14599 non-null float64
total_cu_tl                   14599 non-null float64
inq_last_12m                  14599 non-null float64
rating                        14599 non-null int32
recovery                      14599 non-null int32
delinq                        14599 non-null float64
derog                         14599 non-null float64
public_record                 14599 non-null float64
dtypes: datetime64[ns](4), float64(47), int32(2), int64(6), object(5)
memory usage: 7.1+ MB

In [56]:
variables2=['tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim']

for e in variables2:
    data[e]=data[e].replace(np.nan,0)
    
meta(data)

                            nulls           dtype
varname
next_pymnt_d                45248  datetime64[ns]
last_pymnt_d                17659  datetime64[ns]
revol_util                    316         float64
last_credit_pull_d             36  datetime64[ns]
pub_rec                         3         float64
delinq_2yrs                     3         float64
acc_now_delinq                  3         float64
total_acc                       3         float64
open_acc                        3         float64
earliest_cr_line                3         float64
inq_last_6mths                  3         float64
max_bal_bc                      0         float64
open_il_24m                     0         float64
derog                           0         float64
annual_inc_joint                0         float64
dti_joint                       0         float64
verification_status_joint       0          object
inq_last_12m                    0         float64
tot_coll_amt                    0         float64
tot_cur_bal                     0         float64
open_acc_6m                     0         float64
open_il_6m                      0         float64
open_il_12m                     0         float64
total_cu_tl                     0         float64
open_rv_24m                     0         float64
delinq                          0         float64
mths_since_rcnt_il              0         float64
rating                          0           int32
inq_fi                          0         float64
application_type                0           int64
total_rev_hi_lim                0         float64
all_util                        0         float64
total_bal_il                    0         float64
il_util                         0         float64
open_rv_12m                     0         float64
recovery                        0           int32
loan_amnt                       0         float64
collections_12_mths_ex_med      0         float64
purpose                         0          object
funded_amnt_inv                 0         float64
term                            0           int64
int_rate                        0         float64
installment                     0         float64
grade                           0           int64
sub_grade                       0           int64
emp_length                      0           int64
home_ownership                  0          object
annual_inc                      0         float64
verification_status             0          object
issue_d                         0  datetime64[ns]
addr_state                      0          object
last_pymnt_amnt                 0         float64
dti                             0         float64
revol_bal                       0         float64
initial_list_status             0           int64
out_prncp                       0         float64
out_prncp_inv                   0         float64
total_pymnt                     0         float64
total_pymnt_inv                 0         float64
total_rec_prncp                 0         float64
total_rec_int                   0         float64
total_rec_late_fee              0         float64
funded_amnt                     0         float64
public_record                   0         float64

Variable revol_util is revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.

In [57]:
data.loc[(data.revol_util.isnull())].head(10)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,purpose,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,rating,recovery,delinq,derog,public_record
4730,6100.0,6100.0,6100.00000,36,14.27,209.29,2,11,0,MORTGAGE,23748.0,Verified,2011-11-01,home_improvement,MO,23.95,0.0,2002.0,0.0,2.0,0.0,0.0,NaN,4.0,1,0.0,0.0,1755.22,1755.22,989.91,471.90,0.000000,2012-06-01,209.29,NaT,2012-11-01,0.0,0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0.0,0.0,0.0
12076,3000.0,3000.0,3000.00000,60,22.11,83.05,6,30,7,OWN,17652.0,Source Verified,2011-07-01,other,MN,0.00,0.0,2008.0,0.0,3.0,0.0,0.0,NaN,5.0,1,0.0,0.0,498.49,498.49,113.96,217.52,0.000000,2011-11-01,83.05,NaT,2012-04-01,0.0,0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0.0,0.0,0.0
13930,2000.0,2000.0,1900.00000,36,18.39,72.70,4,21,2,RENT,24000.0,Not Verified,2011-06-01,other,AZ,22.60,0.0,2006.0,3.0,3.0,0.0,0.0,NaN,16.0,1,0.0,0.0,89.79,89.79,0.00,0.00,0.000000,NaT,0.00,NaT,2011-11-01,0.0,0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0.0,0.0,0.0
18045,20000.0,20000.0,4575.00344,60,20.48,535.24,6,31,11,RENT,42000.0,Verified,2011-03-01,debt_consolidation,OH,18.91,0.0,1996.0,2.0,3.0,0.0,0.0,NaN,18.0,1,0.0,0.0,6375.06,1452.03,2091.72,3252.38,0.000000,2012-02-01,535.24,NaT,2012-07-01,0.0,0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0.0,0.0,0.0
25329,8000.0,8000.0,8000.00000,36,15.58,279.61,3,17,2,OWN,38400.0,Verified,2010-10-01,major_purchase,PA,18.38,0.0,2005.0,0.0,8.0,0.0,0.0,NaN,11.0,1,0.0,0.0,6353.93,6353.93,4431.52,1705.38,0.000000,2012-08-01,279.61,NaT,2013-02-01,0.0,0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0.0,0.0,0.0
26046,3200.0,3200.0,3200.00000,36,17.93,115.58,4,24,6,RENT,15600.0,Verified,2010-09-01,debt_consolidation,MD,11.85,0.0,2006.0,0.0,2.0,0.0,0.0,NaN,5.0,1,0.0,0.0,937.45,937.45,569.79,352.70,14.959768,2011-05-01,115.58,NaT,2016-01-01,0.0,0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0.0,0.0,0.0
26882,2100.0,2100.0,2100.00000,36,15.21,73.02,3,16,1,RENT,14400.0,Not Verified,2010-08-01,home_improvement,WI,20.33,0.0,2005.0,2.0,2.0,0.0,0.0,NaN,4.0,1,0.0,0.0,943.70,943.70,593.49,277.11,0.000000,2011-08-01,73.02,NaT,2012-01-01,0.0,0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0.0,0.0,0.0
28754,7000.0,7000.0,6975.00000,60,18.67,180.32,5,26,5,RENT,27000.0,Source Verified,2010-06-01,other,DE,4.62,0.0,1997.0,1.0,5.0,0.0,0.0,NaN,12.0,1,0.0,0.0,1978.88,1971.82,0.00,0.00,0.000000,NaT,0.00,NaT,2016-01-01,0.0,0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,1.0,0.0,0.0
29305,1500.0,1500.0,1500.00000,36,16.82,53.35,4,21,9,RENT,39996.0,Not Verified,2010-06-01,debt_consolidation,FL,13.05,0.0,2001.0,2.0,2.0,0.0,0.0,NaN,5.0,1,0.0,0.0,636.96,636.96,379.64,204.24,0.000000,2011-05-01,53.35,NaT,2011-10-01,0.0,0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,1.0,0.0,0.0
34337,1200.0,1200.0,1200.00000,36,14.26,41.17,2,14,1,RENT,4800.0,Not Verified,2009-11-01,other,TX,13.75,0.0,2002.0,0.0,7.0,0.0,0.0,NaN,9.0,1,0.0,0.0,1335.61,1335.61,165.55,80.83,14.978426,2010-05-01,41.17,NaT,2016-01-01,0.0,0,0.0,0.0,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0.0,0.0,0.0

In [58]:
pd.value_counts(data.revol_util).to_frame()

        revol_util
0.00          1946
59.00         1440
58.00         1419
61.00         1411
53.00         1408
52.00         1379
55.00         1370
57.00         1359
60.00         1357
62.00         1354
48.00         1352
54.00         1332
65.00         1331
66.00         1324
63.00         1315
50.00         1314
64.00         1306
47.00         1306
56.00         1302
49.00         1301
68.00         1294
51.00         1293
44.00         1283
70.00         1270
46.00         1267
72.00         1263
67.00         1249
69.00         1240
71.00         1219
43.00         1212
75.00         1211
73.00         1205
42.00         1185
45.00         1181
74.00         1169
39.00         1163
41.00         1154
38.00         1151
40.00         1137
79.00         1109
77.00         1108
76.00         1101
78.00         1088
37.00         1082
60.20         1064
54.70         1051
80.00         1042
58.80         1030
59.10         1029
36.00         1028
56.90         1026
58.70         1026
60.40         1020
61.20         1018
53.30         1017
52.60         1015
59.20         1014
59.50         1013
54.20         1012
61.70         1012
50.90         1011
57.50         1011
66.70         1008
58.30         1008
56.70         1007
33.00         1007
54.30         1004
82.00         1003
64.60         1002
57.40         1002
52.40         1002
47.70         1002
57.20         1000
57.70         1000
59.60         1000
35.00         1000
53.90          997
46.70          996
57.80          995
55.50          995
63.90          992
61.60          992
71.80          991
52.70          991
51.10          990
56.20          990
60.70          990
48.20          990
54.90          989
58.10          986
69.40          985
62.30          984
68.40          984
34.00          984
58.90          983
56.30          982
60.10          981
48.90          980
54.10          980
61.10          980
53.60          980
49.60          979
63.10          979
81.00          979
48.40          978
83.00          977
51.60          976
68.10          976
62.70          975
64.20          975
56.50          974
59.40          973
53.50          973
55.60          972
67.30          972
54.50          971
55.40          970
53.20          970
49.40          970
52.80          970
61.80          970
67.10          969
52.50          968
53.40          968
61.50          967
63.60          967
65.30          966
54.40          966
63.40          966
51.40          966
49.50          966
53.10          965
54.60          965
48.50          965
62.20          965
55.30          964
63.20          964
56.10          963
67.50          963
59.90          963
68.80          962
69.60          961
53.80          961
58.50          960
64.30          960
55.70          960
52.20          960
59.80          959
51.50          959
55.20          959
66.20          959
66.60          958
53.70          957
84.00          957
61.90          956
61.30          955
55.90          955
62.90          955
60.50          955
57.10          954
51.90          953
67.40          953
66.10          953
60.80          952
57.90          952
54.80          951
52.30          950
57.30          949
56.40          948
51.20          948
55.10          948
50.20          947
56.80          947
59.70          947
62.80          946
58.20          946
68.70          945
58.60          945
51.80          944
58.40          944
47.60          943
71.90          943
48.10          942
62.50          942
67.60          942
65.70          942
69.30          941
51.70          941
64.50          940
66.50          940
48.30          939
50.50          938
49.70          937
70.20          937
50.80          937
45.80          937
50.70          937
64.40          936
69.90          936
65.80          935
67.20          935
66.30          935
49.10          934
69.20          933
47.10          933
62.60          932
50.10          932
57.60          931
32.00          931
31.00          931
47.20          931
52.90          930
49.20          930
64.90          930
68.20          928
64.80          928
62.40          927
50.60          927
59.30          927
49.80          927
65.20          927
68.60          926
65.40          926
63.80          925
46.60          923
68.90          923
50.30          923
56.60          923
60.60          923
65.60          923
49.90          922
48.70          922
62.10          922
71.10          920
70.60          919
64.10          917
49.30          916
48.60          916
67.90          916
44.50          915
45.50          915
61.40          913
63.50          913
65.90          913
45.30          913
55.80          912
69.10          912
51.30          911
45.20          911
52.10          910
...            ...
101.30          80
101.40          71
101.50          68
101.70          61
101.90          59
102.00          56
101.80          53
102.70          34
102.20          34
102.10          31
103.00          30
102.30          30
102.60          28
102.40          25
102.90          23
102.50          22
103.20          22
102.80          22
103.80          21
103.10          21
103.50          20
103.70          20
103.60          18
103.40          16
105.10          16
104.20          15
103.90          14
104.50          11
104.10          11
103.30          11
105.90          11
106.30          11
105.20          11
104.60          11
104.30          10
104.90           9
104.70           9
104.80           9
104.40           9
106.60           9
105.40           8
106.00           8
105.70           8
106.40           7
108.40           7
107.00           7
105.30           6
104.00           6
111.20           6
106.10           6
106.70           6
109.90           6
109.10           6
108.10           6
107.20           5
107.50           5
106.20           5
109.00           5
109.50           5
106.80           5
105.00           5
112.70           5
105.50           5
108.50           5
108.00           5
114.50           4
111.40           4
105.80           4
109.30           4
108.20           4
111.70           4
108.80           4
106.50           4
112.00           4
111.00           4
109.70           4
106.90           4
110.30           4
107.80           3
112.40           3
107.10           3
119.40           3
109.60           3
107.40           3
110.60           3
105.60           3
109.20           3
112.50           3
123.20           3
110.80           3
108.30           3
113.00           3
112.20           3
117.20           3
114.70           3
113.80           3
110.40           3
127.60           3
126.20           3
123.90           2
134.30           2
108.60           2
132.50           2
117.90           2
109.40           2
119.70           2
113.20           2
119.10           2
126.40           2
116.10           2
114.20           2
122.80           2
126.10           2
116.30           2
107.60           2
110.50           2
113.10           2
117.50           2
112.90           2
118.40           2
112.10           2
113.40           2
107.70           2
113.30           2
109.80           2
113.90           2
107.90           2
111.80           2
112.30           2
120.50           2
110.20           2
110.70           2
122.10           1
24.89            1
124.70           1
32.04            1
141.10           1
118.60           1
155.30           1
121.10           1
121.40           1
125.30           1
132.70           1
182.80           1
117.70           1
193.00           1
113.60           1
0.83             1
136.10           1
113.70           1
125.80           1
131.00           1
128.60           1
130.10           1
134.10           1
118.20           1
133.10           1
125.10           1
132.10           1
130.50           1
127.00           1
115.30           1
115.40           1
153.70           1
145.80           1
116.00           1
127.30           1
114.60           1
115.10           1
140.40           1
127.10           1
129.40           1
119.80           1
128.10           1
134.50           1
115.80           1
112.60           1
129.50           1
152.70           1
118.10           1
24.63            1
116.80           1
110.90           1
143.60           1
120.00           1
130.80           1
115.00           1
120.80           1
111.60           1
111.10           1
116.40           1
152.50           1
166.90           1
177.70           1
123.00           1
108.90           1
115.60           1
137.20           1
116.50           1
118.00           1
119.20           1
81.31            1
108.70           1
130.40           1
114.40           1
111.30           1
1.88             1
8.46             1
10.61            1
121.20           1
7.64             1
107.30           1
161.50           1
118.80           1
117.10           1
366.60           1
148.00           1
131.80           1
43.38            1
120.20           1
126.00           1
141.80           1
124.50           1
121.70           1
121.00           1
113.50           1
119.60           1
128.40           1
111.50           1
112.80           1
54.22            1
126.30           1
123.30           1
137.80           1
49.63            1
110.00           1
125.60           1
122.40           1
122.20           1
0.12             1
77.63            1
139.70           1
128.80           1
122.70           1
114.00           1
184.60           1
180.30           1
117.40           1
29.77            1
130.20           1

[1264 rows x 1 columns]

There is no clear answer to how to approach this variable, I will use 0 as this is the most common value and the amount of missing values is marginal.

In [59]:
data.revol_util=data.revol_util.replace(np.nan,0)
    
meta(data)

                            nulls           dtype
varname
next_pymnt_d                45248  datetime64[ns]
last_pymnt_d                17659  datetime64[ns]
last_credit_pull_d             36  datetime64[ns]
open_acc                        3         float64
delinq_2yrs                     3         float64
acc_now_delinq                  3         float64
total_acc                       3         float64
pub_rec                         3         float64
earliest_cr_line                3         float64
inq_last_6mths                  3         float64
all_util                        0         float64
max_bal_bc                      0         float64
derog                           0         float64
application_type                0           int64
annual_inc_joint                0         float64
dti_joint                       0         float64
verification_status_joint       0          object
rating                          0           int32
tot_coll_amt                    0         float64
tot_cur_bal                     0         float64
open_acc_6m                     0         float64
open_il_6m                      0         float64
open_il_12m                     0         float64
inq_last_12m                    0         float64
open_il_24m                     0         float64
mths_since_rcnt_il              0         float64
total_cu_tl                     0         float64
recovery                        0           int32
collections_12_mths_ex_med      0         float64
inq_fi                          0         float64
total_rev_hi_lim                0         float64
total_bal_il                    0         float64
il_util                         0         float64
open_rv_12m                     0         float64
open_rv_24m                     0         float64
delinq                          0         float64
loan_amnt                       0         float64
last_pymnt_amnt                 0         float64
purpose                         0          object
funded_amnt_inv                 0         float64
term                            0           int64
int_rate                        0         float64
installment                     0         float64
grade                           0           int64
sub_grade                       0           int64
emp_length                      0           int64
home_ownership                  0          object
annual_inc                      0         float64
verification_status             0          object
issue_d                         0  datetime64[ns]
addr_state                      0          object
funded_amnt                     0         float64
dti                             0         float64
revol_bal                       0         float64
revol_util                      0         float64
initial_list_status             0           int64
out_prncp                       0         float64
out_prncp_inv                   0         float64
total_pymnt                     0         float64
total_pymnt_inv                 0         float64
total_rec_prncp                 0         float64
total_rec_int                   0         float64
total_rec_late_fee              0         float64
public_record                   0         float64

There are four datetime variables and three of them have missing values left. 

Variables last_credit_pull_d is the most recent month LC pulled credit for this loan, issue_d is the date loan was issued and next_payment_d is the date of next payment. There are not insightful variables so will be dropped.

I will check last_pymnt_d in more detail as this might have some predicitve value.

In [60]:
pd.value_counts(data.last_pymnt_d).to_frame()

            last_pymnt_d
2016-01-01        465495
2015-12-01        138809
2015-10-01          3805
2015-11-01          3407
2015-09-01          3230
2015-07-01          3137
2015-08-01          2970
2015-06-01          2623
2015-05-01          2366
2015-04-01          2195
2015-03-01          2142
2014-10-01          1750
2015-01-01          1691
2014-12-01          1682
2015-02-01          1646
2014-09-01          1550
2014-08-01          1453
2014-11-01          1388
2014-07-01          1374
2014-06-01          1219
2014-05-01          1043
2014-04-01           947
2014-03-01           934
2014-01-01           869
2013-10-01           805
2014-02-01           738
2013-12-01           706
2013-09-01           704
2013-11-01           639
2013-08-01           634
2013-07-01           600
2013-06-01           477
2013-05-01           461
2013-04-01           417
2013-03-01           358
2013-01-01           340
2012-10-01           332
2013-02-01           323
2012-11-01           297
2012-12-01           294
2012-09-01           259
2012-08-01           248
2012-07-01           231
2012-06-01           210
2012-05-01           166
2012-02-01           163
2012-03-01           155
2012-04-01           150
2011-12-01           140
2011-10-01           137
2012-01-01           133
2011-09-01           125
2011-08-01           120
2011-07-01           109
2011-11-01           101
2011-05-01            95
2011-06-01            91
2011-04-01            85
2010-10-01            83
2010-12-01            79
2011-03-01            74
2010-03-01            64
2010-07-01            63
2010-09-01            61
2010-11-01            61
2011-02-01            57
2011-01-01            55
2010-08-01            53
2009-12-01            51
2010-04-01            51
2010-05-01            47
2010-06-01            46
2010-01-01            39
2009-06-01            38
2009-10-01            36
2009-05-01            33
2010-02-01            33
2009-07-01            32
2009-02-01            32
2008-10-01            32
2009-09-01            31
2009-04-01            31
2009-08-01            30
2009-11-01            27
2009-03-01            25
2009-01-01            23
2008-12-01            23
2008-09-01            22
2008-07-01            19
2008-11-01            19
2008-08-01            17
2008-05-01            15
2008-06-01            12
2008-03-01            11
2008-04-01             7
2008-02-01             5
2008-01-01             3
2007-12-01             1

In [61]:
late=data.loc[(data.last_pymnt_d=='2015-08-01')|(data.last_pymnt_d=='2015-09-01')|(data.last_pymnt_d=='2015-05-01')|(data.last_pymnt_d=='2015-06-01')]
pd.value_counts(late.rating).to_frame()

   rating
1   11189

This is clear information leak - model wouldn't have to learn, just check if last payment is late. I will transform this variable to binary category showing if any payment was received.

In [62]:
data.loc[(data.last_pymnt_d.notnull()),'pymnt_received']=1
data.loc[(data.last_pymnt_d.isnull()),'pymnt_received']=0

In [63]:
data.drop(['last_pymnt_d','issue_d','last_credit_pull_d','next_pymnt_d'],axis=1,inplace=True)

meta(data)

                            nulls    dtype
varname
earliest_cr_line                3  float64
inq_last_6mths                  3  float64
delinq_2yrs                     3  float64
pub_rec                         3  float64
total_acc                       3  float64
open_acc                        3  float64
acc_now_delinq                  3  float64
open_acc_6m                     0  float64
open_il_6m                      0  float64
tot_cur_bal                     0  float64
open_il_24m                     0  float64
mths_since_rcnt_il              0  float64
tot_coll_amt                    0  float64
total_bal_il                    0  float64
il_util                         0  float64
verification_status_joint       0   object
open_il_12m                     0  float64
loan_amnt                       0  float64
annual_inc_joint                0  float64
open_rv_12m                     0  float64
open_rv_24m                     0  float64
max_bal_bc                      0  float64
all_util                        0  float64
total_rev_hi_lim                0  float64
inq_fi                          0  float64
total_cu_tl                     0  float64
inq_last_12m                    0  float64
rating                          0    int32
recovery                        0    int32
delinq                          0  float64
derog                           0  float64
public_record                   0  float64
dti_joint                       0  float64
total_rec_late_fee              0  float64
application_type                0    int64
addr_state                      0   object
funded_amnt_inv                 0  float64
term                            0    int64
int_rate                        0  float64
installment                     0  float64
grade                           0    int64
sub_grade                       0    int64
emp_length                      0    int64
home_ownership                  0   object
annual_inc                      0  float64
verification_status             0   object
purpose                         0   object
dti                             0  float64
collections_12_mths_ex_med      0  float64
revol_bal                       0  float64
revol_util                      0  float64
initial_list_status             0    int64
out_prncp                       0  float64
out_prncp_inv                   0  float64
total_pymnt                     0  float64
total_pymnt_inv                 0  float64
total_rec_prncp                 0  float64
total_rec_int                   0  float64
funded_amnt                     0  float64
last_pymnt_amnt                 0  float64
pymnt_received                  0  float64

There are seven variables with 3 missing values, this is such a small number that I will just replace NaN with most common values.

In [64]:
variables3=['acc_now_delinq', 'open_acc', 'total_acc','pub_rec','delinq_2yrs','inq_last_6mths','earliest_cr_line']

for e in variables3:
    data[e]=data[e].replace(np.nan,data[e].mode()[0])
    
meta(data)

                            nulls    dtype
varname
loan_amnt                       0  float64
last_pymnt_amnt                 0  float64
application_type                0    int64
annual_inc_joint                0  float64
dti_joint                       0  float64
verification_status_joint       0   object
acc_now_delinq                  0  float64
tot_coll_amt                    0  float64
tot_cur_bal                     0  float64
open_acc_6m                     0  float64
open_il_6m                      0  float64
open_il_12m                     0  float64
open_il_24m                     0  float64
mths_since_rcnt_il              0  float64
total_bal_il                    0  float64
il_util                         0  float64
open_rv_12m                     0  float64
open_rv_24m                     0  float64
max_bal_bc                      0  float64
all_util                        0  float64
total_rev_hi_lim                0  float64
inq_fi                          0  float64
total_cu_tl                     0  float64
inq_last_12m                    0  float64
rating                          0    int32
recovery                        0    int32
delinq                          0  float64
derog                           0  float64
public_record                   0  float64
collections_12_mths_ex_med      0  float64
total_rec_late_fee              0  float64
funded_amnt                     0  float64
total_rec_int                   0  float64
funded_amnt_inv                 0  float64
term                            0    int64
int_rate                        0  float64
installment                     0  float64
grade                           0    int64
sub_grade                       0    int64
emp_length                      0    int64
home_ownership                  0   object
annual_inc                      0  float64
verification_status             0   object
purpose                         0   object
addr_state                      0   object
dti                             0  float64
delinq_2yrs                     0  float64
earliest_cr_line                0  float64
inq_last_6mths                  0  float64
open_acc                        0  float64
pub_rec                         0  float64
revol_bal                       0  float64
revol_util                      0  float64
total_acc                       0  float64
initial_list_status             0    int64
out_prncp                       0  float64
out_prncp_inv                   0  float64
total_pymnt                     0  float64
total_pymnt_inv                 0  float64
total_rec_prncp                 0  float64
pymnt_received                  0  float64

There are no more missing values, so I can proceed to setting up machine learning model.

In [ ]:
data.to_csv('data.csv',index=False)